<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vstock.db.dao.IAdminDao">

    <insert id="addAdmin" parameterType="com.vstock.db.entity.Admin" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `admin`
        (`id`,`username`,`password`,`salt`,`create_time`)
        VALUES(null,#{username},#{password},#{salt},now())
    </insert>

    <select id="findAdminCount" parameterType="com.vstock.db.entity.Admin" resultType="Integer">
        SELECT COUNT(*) FROM `admin` a ORDER BY a.id ASC
    </select>

    <select id="findById" parameterType="com.vstock.db.entity.Admin" resultType="com.vstock.db.entity.Admin">
        SELECT * FROM `admin` a  ORDER BY a.id ASC
        <include refid="SelectAll_Where_Count"/>
    </select>

    <select id="findAdminAll" parameterType="com.vstock.db.entity.Admin" resultType="com.vstock.db.entity.Admin">
        SELECT * FROM `admin` a  ORDER BY a.id ASC
        limit #{startPos},#{pageSize}
    </select>

    <select id="findAdmin" resultType="com.vstock.db.entity.Admin">
        SELECT *
        FROM `admin`
        <if test="username != null">
            WHERE `username` = #{username}
        </if>
    </select>

    <update id="updateAdmin">
        UPDATE `admin` a
        <set>
            <if test="last_login != null and last_login != ''">
                a.last_login = #{last_login}
            </if>
            <if test="roleId != null and roleId != ''">
                a.roleId = #{roleId}
            </if>
        </set>
        WHERE `id` = #{id}
    </update>

    <sql id="SelectAll_Where_Count">
        <where>
            1=1
            <if test="adminId != null and adminId != ''">
                AND a.id = #{adminId,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

</mapper>