<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vstock.db.dao.IBasicinformation">

    <resultMap id="BaseResultMap" type="com.vstock.db.entity.Basicinformation">
        <id column="bid" property="id"/>
        <result column="bname" property="name"/>
        <result column="colores" property="colores"/>
        <result column="bartNo" property="artNo"/>
        <result column="btype" property="type"/>
        <result column="bsmallImgUrl" property="smallImgUrl"/>
        <result column="bcsaledate" property="csaledate"/>
        <association property="bid" column="bid"
                     javaType="com.vstock.db.entity.Bid">
            <id property="id" column="id"/>
            <result column="userId" property="userId" jdbcType="INTEGER"/>
            <result column="basicinformationId" property="basicinformationId" jdbcType="INTEGER"/>
            <result column="paymentId" property="paymentId" jdbcType="INTEGER"/>
            <result column="bftName" property="bftName" jdbcType="VARCHAR"/>
            <result column="bftSize" property="bftSize" jdbcType="VARCHAR"/>
            <result column="bidMoney" property="bidMoney" jdbcType="DECIMAL"/>
            <result column="bidFreight" property="bidFreight" jdbcType="DECIMAL"/>
            <result column="bidBond" property="bidBond" jdbcType="DECIMAL"/>
            <result column="lately_bid" property="latelyBid" jdbcType="DECIMAL"/>
            <result column="termValidity" property="termValidity" jdbcType="VARCHAR"/>
            <result column="status" property="status" jdbcType="VARCHAR"/>
            <result column="type" property="type" jdbcType="VARCHAR"/>
            <result column="sign" property="sign" jdbcType="VARCHAR"/>
            <result column="bidDate" property="bidDate" jdbcType="TIMESTAMP"/>
            <result column="invalidDate" property="invalidDate" jdbcType="TIMESTAMP"/>
            <result column="highest_bid" property="highestBid" jdbcType="DECIMAL"/>
            <result column="minimum_selling_price" property="minimumSellingPrice" jdbcType="DECIMAL"/>
        </association>
    </resultMap>

    <resultMap id="ResultDataMap" type="com.vstock.db.entity.Basicinformation">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="colores" property="colores"/>
        <result column="artNo" property="artNo"/>
        <result column="type" property="type"/>
        <result column="cofferprice" property="cofferprice"/>
        <result column="eofferprice" property="eofferprice"/>
        <result column="smallImgUrl" property="smallImgUrl"/>
        <result column="csaledate" property="csaledate"/>
        <association property="resultData" column="resultData"
                     javaType="com.vstock.db.entity.ResultData">
            <id property="id" column="id"/>
            <result column="transactionRecord" property="transactionRecord" jdbcType="VARCHAR"/>
        </association>
    </resultMap>

    <insert id="insert" parameterType="com.vstock.db.entity.Basicinformation" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `basicinformation`
        (`id`,`brand`,`name`,`artNo`,`colores`,`csaledate`,`esaledate`,`cofferprice`,`eofferprice`,`chineselogo`,`imgUrl`,`smallImgUrl`,`createTime`,`state`)
        VALUES(null,#{brand},#{name},#{artNo},#{colores},#{csaledate},#{esaledate},#{cofferprice},#{eofferprice},#{chineselogo},#{imgUrl},#{smallImgUrl},now(),#{state})
    </insert>

    <update id="update" parameterType="com.vstock.db.entity.Basicinformation">
        UPDATE `basicinformation`
        <include refid="update_Where_Clause"/>
        WHERE `id` = #{id}
    </update>

    <update id="updateState">
        UPDATE `basicinformation` SET
        <if test="state != null and state != ''">
            state = #{state,jdbcType=VARCHAR}
        </if>
        WHERE `id` = #{id}
    </update>

    <select id="findBasicinForSorts"  parameterType="map" resultMap="BaseResultMap">
        SELECT * FROM (SELECT bi.status,bi.id,bi.basicinformation_id as basicinformationId,bi.bft_name as bftName,bi.bft_size as bftSize,bi.bid_bond as bidBond,bi.bid_date as bidDate,bi.bid_money as bidMoney,bf.id as bid,bf.brand,bf.colores as colores,bf.`name` as bname,bf.type as type,bf.smallImgUrl as bsmallImgUrl,bf.type as btype,bf.artNo as bartNo,bf.csaledate as bcsaledate
        FROM basicinformation bf
        LEFT JOIN bid bi ON bi.basicinformation_id = bf.id
        ORDER BY bidDate DESC) as basicinformation
        WHERE 1=1
        <if test="bftSize != null and bftSize != ''">
            and basicinformation.bftSize = #{bftSize}
        </if>
        <if test="productName != null and productName != ''">
            and (basicinformation.bftName LIKE CONCAT('%',#{productName},'%') or basicinformation.colores LIKE CONCAT('%',#{productName},'%') or basicinformation.bartNo LIKE CONCAT('%',#{productName},'%'))
        </if>
        <if test="type != null and type != ''">
            and basicinformation.type = #{type}
        </if>
        <if test="brand != null and brand != ''">
            and basicinformation.brand = #{brand}
        </if>
        <if test="year != null and year != ''">
            and basicinformation.bcsaledate LIKE CONCAT('%',#{year},'%')
        </if>
        <if test="priceStart != null and priceStart != ''">
            and basicinformation.bidMoney  &gt;= #{priceStart}
        </if>
        <if test="priceEnd != null and priceEnd != ''">
            and basicinformation.bidMoney  &lt;= #{priceEnd}
        </if>
        GROUP BY basicinformation.bid
        ORDER BY basicinformation.id DESC
        limit #{startPos},#{pageSize}
    </select>

    <!--分页查询所有-->
    <select id="findLimitAll" resultType="com.vstock.db.entity.Basicinformation">
        SELECT * FROM `basicinformation`
        <include refid="SelectAll_Where_Clause"/>
        <include refid="Select_Where_Time"/>
        ORDER BY id DESC limit #{startPos},#{pageSize}
    </select>

    <select id="findAll" resultType="com.vstock.db.entity.Basicinformation">
        SELECT * FROM `basicinformation`
        <include refid="SelectAll_Where_Clause"/>
    </select>

    <select id="find" resultType="com.vstock.db.entity.Basicinformation">
        SELECT * FROM `basicinformation`
        <include refid="SelectAll_Where_Clause"/>
    </select>

    <select id="findNames" resultType="com.vstock.db.entity.Basicinformation">
      SELECT b.name FROM `basicinformation` b
      GROUP By b.name
    </select>

    <select id="findGirard" resultType="com.vstock.db.entity.Basicinformation">
      SELECT b.artNo FROM `basicinformation` b
      WHERE b.name LIKE CONCAT('%',#{productName,jdbcType=VARCHAR},'%')
    </select>

    <select id="findCount" parameterType="com.vstock.db.entity.Basicinformation" resultType="Long">
        SELECT COUNT(*) FROM `basicinformation`
    </select>

    <select id="findLimitCount" parameterType="com.vstock.db.entity.Basicinformation" resultType="Long">
        SELECT COUNT(*) FROM `basicinformation`
        <include refid="SelectAll_Where_Clause"/>
        <include refid="Select_Where_Time"/>
    </select>

    <!-- 获取品牌 -->
    <select id="getBrands" resultType="java.lang.String">
        SELECT b.brand from `basicinformation` b
        GROUP BY b.brand
        ORDER BY b.brand ASC
    </select>

    <!-- 按类型查询 -->
    <select id="findByType" resultMap="ResultDataMap">
        select * from basicinformation b
        where 1=1
        <choose>
            <when test="type == -1">
                AND b.type != 0
            </when>
            <otherwise>
                AND b.type = #{type}
            </otherwise>
        </choose>
    </select>

    <select id="findByBao" resultMap="ResultDataMap">
        select b.*,SUM(r.transactionRecord) as transactionRecord
        from basicinformation b
        LEFT JOIN resultdata r ON b.id = r.basiciformationId
        where 1=1
        <choose>
            <when test="type == -1">
                AND b.type != 0
            </when>
            <otherwise>
                AND b.type = #{type}
            </otherwise>
        </choose>
        GROUP BY b.id
    </select>

    <sql id="SelectAll_Where_Clause">
        <where>
            1=1
            <if test="basicinformation.id != null and basicinformation.id != ''">
                AND id = #{basicinformation.id,jdbcType=VARCHAR}
            </if>
            <if test="basicinformation.brand != null and basicinformation.brand != ''">
                and brand LIKE CONCAT('%',#{basicinformation.brand,jdbcType=VARCHAR},'%')
            </if>
            <if test="basicinformation.name != null and basicinformation.name != ''">
                and `name` LIKE CONCAT('%',#{basicinformation.name,jdbcType=VARCHAR},'%')
            </if>
            <if test="basicinformation.artNo != null and basicinformation.artNo != ''">
                and artNo LIKE CONCAT('%',#{basicinformation.artNo,jdbcType=VARCHAR},'%')
            </if>
            <if test="basicinformation.colores != null and basicinformation.colores != ''">
                and colores LIKE CONCAT('%',#{basicinformation.colores,jdbcType=VARCHAR},'%')
            </if>
            <if test="basicinformation.esaledate != null and basicinformation.esaledate != ''">
                and esaledate = #{basicinformation.esaledate,jdbcType=VARCHAR}
            </if>
            <if test="basicinformation.cofferprice != null and basicinformation.cofferprice != ''">
                and cofferprice &gt;= #{basicinformation.cofferprice,jdbcType=VARCHAR}
            </if>
            <if test="basicinformation.cofferprices != null and basicinformation.cofferprices != ''">
                and cofferprice &lt;= #{basicinformation.cofferprices,jdbcType=VARCHAR}
            </if>
            <if test="basicinformation.eofferprice != null and basicinformation.eofferprice != ''">
                and eofferprice = #{basicinformation.eofferprice,jdbcType=VARCHAR}
            </if>
            <if test="basicinformation.chineselogo != null and basicinformation.chineselogo != ''">
                and chineselogo LIKE CONCAT('%',#{basicinformation.chineselogo,jdbcType=VARCHAR},'%')
            </if>
            <if test="basicinformation.chineselogos == 1">
                and chineselogo IS NOT NULL
            </if>
            <if test="basicinformation.chineselogos == 2">
                and chineselogo IS NULL
            </if>
            <if test="basicinformation.bscofferprice == 1">
                and cofferprice IS NOT NULL
            </if>
            <if test="basicinformation.bscofferprice == 2">
                and cofferprice IS NULL
            </if>
            <if test="basicinformation.csaledate == 1">
                and csaledate IS NOT NULL
            </if>
            <if test="basicinformation.csaledate == 2">
                and csaledate IS NULL
            </if>
            <if test="basicinformation.imgUrl != null and basicinformation.imgUrl != ''">
                and imgUrl LIKE CONCAT('%',#{basicinformation.imgUrl,jdbcType=VARCHAR},'%')
            </if>
            <if test="basicinformation.smallImgUrl != null and basicinformation.smallImgUrl != ''">
                and smallImgUrl LIKE CONCAT('%',#{basicinformation.smallImgUrl,jdbcType=VARCHAR},'%')
            </if>
            <if test="basicinformation.createtime != null and basicinformation.createtime != ''">
                and createtime = #{basicinformation.createtime,jdbcType=VARCHAR}
            </if>
            <if test="basicinformation.state != null and basicinformation.state != ''">
                and state = #{basicinformation.state,jdbcType=VARCHAR}
            </if>

        </where>
    </sql>

    <sql id="Select_Where_Clause">
        <where>
            1=1
            <if test="basicinformation.id != null and basicinformation.id != ''">
                AND id = #{basicinformation.id,jdbcType=VARCHAR}
            </if>
            <if test="basicinformation.brand != null and basicinformation.brand != ''">
                and brand = #{basicinformation.brand,jdbcType=VARCHAR}
            </if>
            <if test="basicinformation.name != null and basicinformation.name != ''">
                and name = #{basicinformation.name,jdbcType=VARCHAR}
            </if>
            <if test="basicinformation.artNo != null and basicinformation.artNo != ''">
                and artNo = #{basicinformation.artNo,jdbcType=VARCHAR}
            </if>
            <if test="basicinformation.colores != null and basicinformation.colores != ''">
                and colores = #{basicinformation.colores,jdbcType=VARCHAR}
            </if>
            <if test="basicinformation.esaledate != null and basicinformation.esaledate != ''">
                and esaledate = #{basicinformation.esaledate,jdbcType=VARCHAR}
            </if>
            <if test="basicinformation.cofferprice != null and basicinformation.cofferprice != ''">
                and cofferprice = #{basicinformation.cofferprice,jdbcType=VARCHAR}
            </if>
            <if test="basicinformation.eofferprice != null and basicinformation.eofferprice != ''">
                and eofferprice = #{basicinformation.eofferprice,jdbcType=VARCHAR}
            </if>
            <if test="basicinformation.chineselogo != null and basicinformation.chineselogo != ''">
                and chineselogo = #{basicinformation.chineselogo,jdbcType=VARCHAR}
            </if>
            <if test="basicinformation.imgUrl != null and basicinformation.imgUrl != ''">
                and imgUrl = #{basicinformation.imgUrl,jdbcType=VARCHAR}
            </if>
            <if test="basicinformation.smallImgUrl != null and basicinformation.smallImgUrl != ''">
                and smallImgUrl = #{basicinformation.smallImgUrl,jdbcType=VARCHAR}
            </if>
            <if test="basicinformation.createtime != null and basicinformation.createtime != ''">
                and createtime = #{basicinformation.createtime,jdbcType=VARCHAR}
            </if>
            <if test="basicinformation.state != null and basicinformation.state != ''">
                and state = #{basicinformation.state,jdbcType=VARCHAR}
            </if>
        </where>

    </sql>

    <sql id="update_Where_Clause">
        <set>
            <if test="basicinformation.brand != null and basicinformation.brand != ''">
                brand = #{basicinformation.brand,jdbcType=VARCHAR},
            </if>
            <if test="basicinformation.name != null and basicinformation.name != ''">
                `name` = #{basicinformation.name,jdbcType=VARCHAR},
            </if>
            <if test="basicinformation.type != null">
                `type` = #{basicinformation.type,jdbcType=VARCHAR},
            </if>
            <if test="basicinformation.artNo != null and basicinformation.artNo != ''">
                artNo = #{basicinformation.artNo,jdbcType=VARCHAR},
            </if>
            <if test="basicinformation.colores != null and basicinformation.colores != ''">
                colores = #{basicinformation.colores,jdbcType=VARCHAR},
            </if>
            <if test="basicinformation.csaledate != null and basicinformation.csaledate != ''">
                csaledate = #{basicinformation.csaledate,jdbcType=VARCHAR},
            </if>
            <if test="basicinformation.esaledate != null and basicinformation.esaledate != ''">
                esaledate = #{basicinformation.esaledate,jdbcType=VARCHAR},
            </if>
            <if test="basicinformation.cofferprice != null and basicinformation.cofferprice != ''">
                cofferprice = #{basicinformation.cofferprice,jdbcType=VARCHAR},
            </if>
            <if test="basicinformation.eofferprice != null and basicinformation.eofferprice != ''">
                eofferprice = #{basicinformation.eofferprice,jdbcType=VARCHAR},
            </if>
            <if test="basicinformation.chineselogo != null and basicinformation.chineselogo != ''">
                chineselogo = #{basicinformation.chineselogo,jdbcType=VARCHAR},
            </if>
            <if test="basicinformation.imgUrl != null and basicinformation.imgUrl != ''">
                imgUrl = #{basicinformation.imgUrl,jdbcType=VARCHAR},
            </if>
            <if test="basicinformation.smallImgUrl != null and basicinformation.smallImgUrl != ''">
                smallImgUrl = #{basicinformation.smallImgUrl,jdbcType=VARCHAR},
            </if>
            <if test="basicinformation.createtime != null and basicinformation.createtime != ''">
                createtime = #{basicinformation.createtime,jdbcType=VARCHAR},
            </if>
            <if test="basicinformation.state != null and basicinformation.state != ''">
                state = #{basicinformation.state,jdbcType=VARCHAR},
            </if>
        </set>
    </sql>

    <sql id="Select_Where_Time">
        <if test="startCsaledate != null and startCsaledate != ''">
            and csaledate &gt;= #{startCsaledate,jdbcType=VARCHAR}
        </if>
        <if test="endCsaledate != null and endCsaledate != ''">
            and csaledate &lt;= #{endCsaledate,jdbcType=VARCHAR}
        </if>
        <if test="startEsaledate != null and startEsaledate != ''">
            and esaledate &gt;= #{startEsaledate,jdbcType=VARCHAR}
        </if>
        <if test="endEsaledate != null and endEsaledate != ''">
            and esaledate &lt;= #{endEsaledate,jdbcType=VARCHAR}
        </if>
        <if test="startCreatetime != null and startCreatetime != ''">
            and createtime &gt;= #{startCreatetime,jdbcType=VARCHAR}
        </if>
        <if test="endCreatetime != null and endCreatetime != ''">
            and createtime &lt;= #{endCreatetime,jdbcType=VARCHAR}
        </if>
    </sql>
</mapper>
