<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vstock.db.dao.IBidDao">

    <resultMap id="BaseResultMap" type="com.vstock.db.entity.Bid">
        <id property="id" column="id"/>
        <result column="userId" property="userId" jdbcType="INTEGER"/>
        <result column="basicinformationId" property="basicinformationId" jdbcType="INTEGER"/>
        <result column="paymentId" property="paymentId" jdbcType="INTEGER"/>
        <result column="bftName" property="bftName" jdbcType="VARCHAR"/>
        <result column="bftSize" property="bftSize" jdbcType="VARCHAR"/>
        <result column="bidMoney" property="bidMoney" jdbcType="DECIMAL"/>
        <result column="bidFreight" property="bidFreight" jdbcType="DECIMAL"/>
        <result column="bidBond" property="bidBond" jdbcType="DECIMAL"/>
        <result column="lately_bid" property="latelyBid" jdbcType="DECIMAL"/>
        <result column="termValidity" property="termValidity" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="sign" property="sign" jdbcType="VARCHAR"/>
        <result column="bidDate" property="bidDate" jdbcType="TIMESTAMP"/>
        <result column="invalidDate" property="invalidDate" jdbcType="TIMESTAMP"/>
        <result column="highest_bid" property="highestBid" jdbcType="DECIMAL"/>
        <result column="minimum_selling_price" property="minimumSellingPrice" jdbcType="DECIMAL"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <association property="basicinformation" column="basicinformation"
                     javaType="com.vstock.db.entity.Basicinformation">
            <id column="bid" property="id"/>
            <result column="bname" property="name"/>
            <result column="bartNo" property="artNo"/>
            <result column="btype" property="type"/>
            <result column="bsmallImgUrl" property="smallImgUrl"/>
            <result column="bcsaledate" property="csaledate"/>
        </association>
    </resultMap>

    <resultMap id="UserResultMap" type="com.vstock.db.entity.Bid">
        <id property="id" column="id"/>
        <result column="userId" property="userId" jdbcType="INTEGER"/>
        <result column="basicinformationId" property="basicinformationId" jdbcType="INTEGER"/>
        <result column="paymentId" property="paymentId" jdbcType="INTEGER"/>
        <result column="bftName" property="bftName" jdbcType="VARCHAR"/>
        <result column="bftSize" property="bftSize" jdbcType="VARCHAR"/>
        <result column="bidMoney" property="bidMoney" jdbcType="DECIMAL"/>
        <result column="bidFreight" property="bidFreight" jdbcType="DECIMAL"/>
        <result column="bidBond" property="bidBond" jdbcType="DECIMAL"/>
        <result column="lately_bid" property="latelyBid" jdbcType="DECIMAL"/>
        <result column="termValidity" property="termValidity" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="sign" property="sign" jdbcType="VARCHAR"/>
        <result column="bidDate" property="bidDate" jdbcType="TIMESTAMP"/>
        <result column="invalidDate" property="invalidDate" jdbcType="TIMESTAMP"/>
        <result column="highest_bid" property="highestBid" jdbcType="DECIMAL"/>
        <result column="minimum_selling_price" property="minimumSellingPrice" jdbcType="DECIMAL"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <association property="user" column="user"
                     javaType="com.vstock.db.entity.User">
            <id column="uid" property="id"/>
            <result column="nick" property="nick"/>
            <result column="mobile" property="mobile"/>
        </association>
    </resultMap>

    <sql id="SelectAll_Where_Clause">
        <where>
            1=1
            <if test="id != null and id != ''">
                AND b.id = #{id,jdbcType=INTEGER}
            </if>
            <if test="userId != null and userId != ''">
                and b.user_id = #{userId,jdbcType=INTEGER}
            </if>
            <if test="basicinformationId != null and basicinformationId != ''">
                and b.basicinformation_id = #{basicinformationId,jdbcType=INTEGER}
            </if>
            <if test="paymentId != null and paymentId != ''">
                and b.payment_id = #{paymentId,jdbcType=INTEGER}
            </if>
            <if test="bftName != null and bftName != ''">
                and b.bft_name = #{bftName,jdbcType=VARCHAR}
            </if>
            <if test="bftSize != null and bftSize != ''">
                and b.bft_size = #{bftSize,jdbcType=VARCHAR}
            </if>
            <if test="bidMoney != null and bidMoney != ''">
                and b.bid_money = #{bidMoney,jdbcType=DECIMAL}
            </if>
            <if test="bidFreight != null and bidFreight != ''">
                and b.bid_freight = #{bidFreight,jdbcType=DECIMAL}
            </if>
            <if test="bidBond != null and bidBond != ''">
                and b.bid_bond = #{bidBond,jdbcType=DECIMAL}
            </if>
            <if test="latelyBid != null and latelyBid != ''">
                and b.lately_bid = #{latelyBid,jdbcType=DECIMAL}
            </if>
            <if test="termValidity != null and termValidity != ''">
                and b.term_validity = #{termValidity,jdbcType=VARCHAR}
            </if>
            <if test="status != null and status != '3'">
                and b.status = #{status,jdbcType=VARCHAR}
            </if>
            <if test="status == '3'">
                and b.status NOT IN (#{status,jdbcType=VARCHAR})
            </if>
            <if test="type != null">
                and b.type = #{type,jdbcType=VARCHAR}
            </if>
            <if test="bidDate != null and bidDate != ''">
                and b.bid_date = #{bidDate,jdbcType=TIMESTAMP}
            </if>
            <if test="invalidDate != null and invalidDate != ''">
                and b.invalid_date = #{invalidDate,jdbcType=TIMESTAMP}
            </if>
            <if test="sign != null and sign != ''">
                and b.sign = #{sign,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

    <sql id="SelectAllByPage_Where_Clause">
        <where>
            1=1
            <if test="obj.id != null and obj.id != ''">
                AND b.id = #{obj.id,jdbcType=INTEGER}
            </if>
            <if test="obj.userId != null and obj.userId != ''">
                and b.user_id = #{obj.userId,jdbcType=INTEGER}
            </if>
            <if test="obj.basicinformationId != null and obj.basicinformationId != ''">
                and b.basicinformation_id = #{obj.basicinformationId,jdbcType=INTEGER}
            </if>
            <if test="obj.paymentId != null and obj.paymentId != ''">
                and b.payment_id = #{obj.paymentId,jdbcType=INTEGER}
            </if>
            <if test="obj.bftName != null and obj.bftName != ''">
                and b.bft_name = #{obj.bftName,jdbcType=VARCHAR}
            </if>
            <if test="obj.bftSize != null and obj.bftSize != 0">
                and b.bft_size = #{obj.bftSize,jdbcType=VARCHAR}
            </if>
            <if test="obj.bidMoney != null and obj.bidMoney != ''">
                and b.bid_money = #{obj.bidMoney,jdbcType=DECIMAL}
            </if>
            <if test="obj.bidFreight != null and obj.bidFreight != ''">
                and b.bid_freight = #{obj.bidFreight,jdbcType=DECIMAL}
            </if>
            <if test="obj.bidBond != null and obj.bidBond != ''">
                and b.bid_bond = #{obj.bidBond,jdbcType=DECIMAL}
            </if>
            <if test="obj.latelyBid != null and obj.latelyBid != ''">
                and b.lately_bid = #{obj.latelyBid,jdbcType=DECIMAL}
            </if>
            <if test="obj.termValidity != null and obj.termValidity != ''">
                and b.term_validity = #{obj.termValidity,jdbcType=VARCHAR}
            </if>
            <if test="obj.status != null and obj.status != '' and obj.status != '-1'">
                and b.status = #{obj.status,jdbcType=VARCHAR}
            </if>
            <if test="obj.type != null and obj.type != '' and obj.type != '-1'">
                and b.type = #{obj.type,jdbcType=VARCHAR}
            </if>
            <if test="obj.bidDate != null and obj.bidDate != ''">
                and b.bid_date = #{obj.bidDate,jdbcType=TIMESTAMP}
            </if>
            <if test="obj.invalidDate != null and obj.invalidDate != ''">
                and b.invalid_date = #{obj.invalidDate,jdbcType=TIMESTAMP}
            </if>
            <if test="obj.sign != null and obj.sign != ''">
                and b.sign = #{obj.sign,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

    <sql id="SearchAll_Where_Clause">
        <where>
            1=1
            <if test="id != null and id != ''">
                AND b.id = #{id,jdbcType=INTEGER}
            </if>
            <if test="userId != null and userId != ''">
                and b.user_id = #{userId,jdbcType=INTEGER}
            </if>
            <if test="basicinformationId != null and basicinformationId != ''">
                and b.basicinformation_id = #{basicinformationId,jdbcType=INTEGER}
            </if>
            <if test="paymentId != null and paymentId != ''">
                and b.payment_id = #{paymentId,jdbcType=INTEGER}
            </if>
            <if test="bftName != null and bftName != ''">
                and b.bft_name LIKE CONCAT('%',#{bftName,jdbcType=VARCHAR},'%')
            </if>
            <if test="bftSize != null and bftSize != ''">
                and b.bft_size = #{bftSize,jdbcType=VARCHAR}
            </if>
            <if test="bidMoney != null and bidMoney != ''">
                and b.bid_money = #{bidMoney,jdbcType=DECIMAL}
            </if>
            <if test="bidFreight != null and bidFreight != ''">
                and b.bid_freight = #{bidFreight,jdbcType=DECIMAL}
            </if>
            <if test="bidBond != null and bidBond != ''">
                and b.bid_bond = #{bidBond,jdbcType=DECIMAL}
            </if>
            <if test="latelyBid != null and latelyBid != ''">
                and b.lately_bid = #{latelyBid,jdbcType=DECIMAL}
            </if>
            <if test="termValidity != null and termValidity != ''">
                and b.term_validity = #{termValidity,jdbcType=DECIMAL}
            </if>
            <if test="status != null and status != ''">
                and b.status = #{status,jdbcType=VARCHAR}
            </if>
            <if test="type != null">
                and b.type = #{type,jdbcType=VARCHAR}
            </if>
            <if test="bidDate != null and bidDate != ''">
                and b.bid_date = #{bidDate,jdbcType=TIMESTAMP}
            </if>
            <if test="invalidDate != null and invalidDate != ''">
                and b.invalid_date = #{invalidDate,jdbcType=TIMESTAMP}
            </if>
            <if test="sign != null and sign != ''">
                and b.sign LIKE CONCAT('%',#{sign,jdbcType=VARCHAR},'%')
            </if>
        </where>
    </sql>

    <sql id="SearchAllByPage_Where_Clause">
        <where>
            1=1
            <if test="obj.id != null and obj.id != ''">
                AND b.id = #{obj.id,jdbcType=INTEGER}
            </if>
            <if test="obj.userId != null and obj.userId != ''">
                and b.user_id = #{obj.userId,jdbcType=INTEGER}
            </if>
            <if test="obj.basicinformationId != null and obj.basicinformationId != ''">
                and b.basicinformation_id = #{obj.basicinformationId,jdbcType=INTEGER}
            </if>
            <if test="obj.paymentId != null and obj.paymentId != ''">
                and b.payment_id = #{obj.paymentId,jdbcType=INTEGER}
            </if>
            <if test="obj.bftName != null and obj.bftName != ''">
                and b.bft_name LIKE CONCAT('%',#{obj.bftName,jdbcType=VARCHAR},'%')
            </if>
            <if test="obj.bftSize != null and obj.bftSize != '' and obj.bftSize != 0">
                and b.bft_size = #{obj.bftSize,jdbcType=VARCHAR}
            </if>
            <if test="obj.bidMoney != null and obj.bidMoney != ''">
                and b.bid_money = #{obj.bidMoney,jdbcType=DECIMAL}
            </if>
            <if test="obj.bidFreight != null and obj.bidFreight != ''">
                and b.bid_freight = #{obj.bidFreight,jdbcType=DECIMAL}
            </if>
            <if test="obj.bidBond != null and obj.bidBond != ''">
                and b.bid_bond = #{obj.bidBond,jdbcType=DECIMAL}
            </if>
            <if test="obj.latelyBid != null and obj.latelyBid != ''">
                and b.lately_bid = #{obj.latelyBid,jdbcType=DECIMAL}
            </if>
            <if test="obj.termValidity != null and obj.termValidity != ''">
                and b.term_validity = #{obj.termValidity,jdbcType=DECIMAL}
            </if>
            <if test="obj.status != null and obj.status != '3' and obj.status != ''">
                and b.status = #{obj.status,jdbcType=VARCHAR}
            </if>
            <if test="obj.status == '3'">
                and b.status NOT IN (#{obj.status,jdbcType=VARCHAR})
            </if>
            <if test="obj.type != null and obj.type != -1">
                and b.type = #{obj.type,jdbcType=VARCHAR}
            </if>
            <if test="obj.bidDate != null and obj.bidDate != ''">
                and b.bid_date = #{obj.bidDate,jdbcType=TIMESTAMP}
            </if>
            <if test="obj.invalidDate != null and obj.invalidDate != ''">
                and b.invalid_date = #{obj.invalidDate,jdbcType=TIMESTAMP}
            </if>
            <if test="obj.sign != null and obj.sign != ''">
                and b.sign LIKE CONCAT('%',#{obj.sign,jdbcType=VARCHAR},'%')
            </if>
        </where>
    </sql>

    <sql id="Base_Column_List">
        b.id as id,
        b.user_id as userId,
        b.basicinformation_id as basicinformationId,
        b.payment_id as paymentId,
        b.bft_name as bftName,
        b.bft_size as bftSize,
        b.bid_money as bidMoney,
        b.bid_freight as bidFreight,
        b.bid_bond as bidBond,
        b.lately_bid as latelyBid,
        b.term_validity as termValidity,
        b.status as status,
        b.type as `type`,
        b.sign as sign,
        b.bid_date as bidDate,
        b.invalid_date as invalidDate
    </sql>

    <select id="findAll" parameterType="com.vstock.db.entity.Bid" resultType="com.vstock.db.entity.Bid">
        SELECT
        <include refid="Base_Column_List"/>
        FROM bid b
        <include refid="SearchAllByPage_Where_Clause"/>
        ORDER BY b.bid_date ASC limit #{startPos},#{pageSize}
    </select>

    <select id="findOrderByMoney" parameterType="com.vstock.db.entity.Bid" resultType="com.vstock.db.entity.Bid">
        SELECT
        <include refid="Base_Column_List"/>
        FROM bid b
        <include refid="SearchAllByPage_Where_Clause"/>
        ORDER BY b.bid_money DESC
    </select>

    <select id="findNewAll" parameterType="com.vstock.db.entity.Bid" resultMap="UserResultMap">
        SELECT u.mobile,u.nick,
        <include refid="Base_Column_List"/>
        FROM bid b LEFT JOIN `user` u ON b.user_id = u.id
        <include refid="SearchAllByPage_Where_Clause"/>
        ORDER BY b.bid_date DESC limit #{startPos},#{pageSize}
    </select>

    <select id="findAllBid" parameterType="com.vstock.db.entity.Bid" resultType="com.vstock.db.entity.Bid">
        SELECT
        <include refid="Base_Column_List"/>
        FROM bid b
        <include refid="SearchAllByPage_Where_Clause"/>
        ORDER BY b.bid_date
    </select>

    <select id="findAndUser" parameterType="com.vstock.db.entity.Bid" resultMap="BaseResultMap">
        SELECT u.nick AS name, bft.name AS bname,bft.artNo AS bartNo,
        <include refid="Base_Column_List"/>
        FROM bid b LEFT JOIN `basicinformation` bft ON b.basicinformation_id = bft.id
        LEFT JOIN `user` u ON b.user_id = u.id
        <include refid="SelectAllByPage_Where_Clause"/>
        <if test="obj.name != null and obj.name != ''">
            and u.nick = #{obj.name,jdbcType=VARCHAR}
        </if>
        <if test="obj.basicinformation.artNo != null and obj.basicinformation.artNo != ''">
            and bft.artNo = #{obj.basicinformation.artNo,jdbcType=VARCHAR}
        </if>
        <if test="minimumMoney != null and minimumMoney != ''">
            and b.bid_money &gt;= #{minimumMoney,jdbcType=DECIMAL}
        </if>
        <if test="maximumMoney != null and maximumMoney != ''">
            and b.bid_money &lt;= #{maximumMoney,jdbcType=DECIMAL}
        </if>
        ORDER BY b.bid_date DESC limit #{startPos},#{pageSize}
    </select>

    <select id="findBidForSorts" resultMap="BaseResultMap">
        SELECT * FROM (SELECT bi.id,bi.basicinformation_id,bi.bft_name,bi.bft_size,bi.bid_bond,bi.bid_date,bi.bid_money,bf.brand,bf.`name` as bname,bf.smallImgUrl as bsmallImgUrl,bf.type as btype,bf.artNo as bartNo FROM bid bi
        ORDER BY bi.bid_date DESC) as bid GROUP BY basicinformation_id
        ORDER BY bi.bid_date DESC) as bid
        WHERE 1=1
        <if test="bftSize != null and bftSize != ''">
        and bid.bft_size = #{bftSize}
        </if>
        <if test="brand != null and brand != ''">
        and bid.brand = #{brand}
        </if>
        <if test="year != null and year != ''">
        and bid.bcsaledate LIKE CONCAT('%',#{year},'%')
        </if>
        <if test="priceStart != null and priceStart != ''">
        and bid.bid_money  &gt;= #{priceStart}
        </if>
        <if test="priceEnd != null and priceEnd != ''">
        and bid.bid_money  &lt;= #{priceEnd}
        </if>
        GROUP BY basicinformation_id
    </select>

    <select id="findByType" parameterType="com.vstock.db.entity.Bid" resultType="com.vstock.db.entity.Bid">
        SELECT
        <include refid="Base_Column_List"/>
        FROM bid b
        <include refid="SearchAllByPage_Where_Clause"/>
        <if test="sort == 1">
            ORDER BY b.bid_money ASC
        </if>
        <if test="sort == 2">
            ORDER BY b.bid_money DESC
        </if>
        limit #{startPos},#{pageSize}
    </select>

    <select id="findAllBidOrder" resultType="com.vstock.db.entity.Bid">
        SELECT
        <include refid="Base_Column_List"/>
        FROM bid b
        <include refid="SearchAllByPage_Where_Clause"/>
        AND status = 10
        <if test="sort != null">
            <if test="sort == 0">
                ORDER BY b.bid_money ASC
            </if>
            <if test="sort == 1">
                ORDER BY b.bid_money DESC
            </if>
        </if>
    </select>

    <select id="findAndPricePeak" parameterType="com.vstock.db.entity.Bid" resultMap="BaseResultMap">
        SELECT p.highest_bid, p.minimum_selling_price,
        <include refid="Base_Column_List"/>
        FROM bid b LEFT JOIN price_peak p ON b.basicinformation_id = p.basicinformation_id and b.bft_size = p.peak_size
        <include refid="SearchAllByPage_Where_Clause"/>
        and b.status not in(40)
        ORDER BY b.bid_date DESC limit #{startPos},#{pageSize}
    </select>

    <select id="findOrderStatus" parameterType="com.vstock.db.entity.Bid" resultMap="BaseResultMap">
        SELECT p.highest_bid, p.minimum_selling_price,
        <include refid="Base_Column_List"/>
        FROM bid b LEFT JOIN price_peak p ON b.basicinformation_id = p.basicinformation_id and b.bft_size = p.peak_size
        <include refid="SearchAllByPage_Where_Clause"/>
        and b.status not in(40)
        ORDER BY b.status limit #{startPos},#{pageSize}
    </select>

    <select id="findCount" parameterType="com.vstock.db.entity.Bid" resultType="Integer">
        SELECT COUNT(*) FROM bid b
        <include refid="SearchAllByPage_Where_Clause"/>
    </select>

    <select id="findAndUserCount" parameterType="com.vstock.db.entity.Bid" resultType="Integer">
        SELECT COUNT(*) FROM bid b LEFT JOIN `user` u ON b.user_id = u.id
        LEFT JOIN `basicinformation` bft ON b.basicinformation_id = bft.id
        <include refid="SelectAllByPage_Where_Clause"/>
        <if test="obj.name != null and obj.name != ''">
            and u.nick = #{obj.name,jdbcType=VARCHAR}
        </if>
        <if test="obj.basicinformation.artNo != null and obj.basicinformation.artNo != ''">
            and bft.artNo = #{obj.basicinformation.artNo,jdbcType=VARCHAR}
        </if>
        <if test="minimumMoney != null and minimumMoney != ''">
            and b.bid_money &gt;= #{minimumMoney,jdbcType=DECIMAL}
        </if>
        <if test="maximumMoney != null and maximumMoney != ''">
            and b.bid_money &lt;= #{maximumMoney,jdbcType=DECIMAL}
        </if>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `bid`
        (`id`,`user_id`,`basicinformation_id`,`payment_id`,`bft_name`,`bft_size`,`bid_money`,`bid_freight`,`bid_bond`,`lately_bid`,`term_validity`,`status`,`type`,`sign`,`bid_date`,`invalid_date`)
        VALUES(null,#{userId},#{basicinformationId},#{paymentId},#{bftName},#{bftSize},#{bidMoney},#{bidFreight},#{bidBond},#{latelyBid},#{termValidity},#{status},#{type},#{sign},#{bidDate},#{invalidDate})
    </insert>

    <update id="update">
        UPDATE `bid`
        <set>
            <if test="invalidDate != null and invalidDate != ''">
                invalid_date = #{invalidDate,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null and status != ''">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="paymentId != null and paymentId != ''">
                payment_id = #{paymentId,jdbcType=VARCHAR},
            </if>
            <if test="bidMoney != null and bidMoney != ''">
                bid_money = #{bidMoney,jdbcType=DECIMAL},
            </if>
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

</mapper>