<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vstock.db.dao.ICityAddressDao">

    <resultMap id="BaseResultMap" type="com.vstock.db.entity.CityAddress">
        <id property="id" column="id"/>
        <result column="code" property="code" jdbcType="INTEGER"/>
        <result column="parentId" property="parentId" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="level" property="level" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="SelectAll_Where_Clause">
        <where>
            1=1
            <if test="id != null and id != ''">
                AND ca.id = #{id,jdbcType=INTEGER}
            </if>
            <if test="code != null and code != ''">
                AND ca.code = #{code,jdbcType=INTEGER}
            </if>
            <if test="parentId != null">
                AND ca.parentId = #{parentId,jdbcType=INTEGER}
            </if>
            <if test="name != null and name != ''">
                AND ca.name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="level != null and level != ''">
                AND ca.level = #{level,jdbcType=INTEGER}
            </if>
        </where>
    </sql>

    <sql id="SelectAllByPage_Where_Clause">
        <where>
            1=1
            <if test="obj.id != null and obj.id != ''">
                AND ca.id = #{obj.id,jdbcType=INTEGER}
            </if>
            <if test="obj.code != null and obj.code != ''">
                AND ca.code = #{obj.code,jdbcType=INTEGER}
            </if>
            <if test="obj.parentId != null and obj.parentId != ''">
                AND ca.parentId = #{obj.parentId,jdbcType=INTEGER}
            </if>
            <if test="obj.name != null and obj.name != ''">
                AND ca.name = #{obj.name,jdbcType=VARCHAR}
            </if>
            <if test="obj.level != null and obj.level != ''">
                AND ca.level = #{obj.level,jdbcType=INTEGER}
            </if>
        </where>
    </sql>

    <sql id="SearchAll_Where_Clause">
        <where>
            1=1
            <if test="id != null and id != ''">
                AND ca.id = #{id,jdbcType=INTEGER}
            </if>
            <if test="code != null and code != ''">
                AND ca.code = #{code,jdbcType=INTEGER}
            </if>
            <if test="parentId != null and parentId != ''">
                AND ca.parentId = #{parentId,jdbcType=INTEGER}
            </if>
            <if test="name != null and name != ''">
                AND ca.name LIKE CONCAT('%',#{name,jdbcType=VARCHAR},'%')
            </if>
            <if test="level != null and level != ''">
                AND ca.level = #{level,jdbcType=INTEGER}
            </if>
        </where>
    </sql>

    <sql id="SearchAllByPage_Where_Clause">
        <where>
            1=1
            <if test="obj.id != null and obj.id != ''">
                AND t.id = #{obj.id,jdbcType=INTEGER}
            </if>
            <if test="obj.code != null and obj.code != ''">
                AND ca.code = #{obj.code,jdbcType=INTEGER}
            </if>
            <if test="obj.parentId != null">
                AND ca.parentId = #{obj.parentId,jdbcType=INTEGER}
            </if>
            <if test="obj.name != null and obj.name != ''">
                AND ca.name LIKE CONCAT('%',#{obj.name,jdbcType=VARCHAR},'%')
            </if>
            <if test="obj.level != null and obj.level != ''">
                AND ca.level = #{obj.level,jdbcType=INTEGER}
            </if>
        </where>
    </sql>

    <sql id="Base_Column_List">
        ca.id AS id,
        ca.code as code,
        ca.parentId as parentId,
        ca.name as `name`,
        ca.level as `level`
    </sql>

    <select id="findAll" parameterType="com.vstock.db.entity.CityAddress" resultType="com.vstock.db.entity.CityAddress">
        SELECT
        <include refid="Base_Column_List"/>
        FROM city_address ca
        <include refid="SearchAllByPage_Where_Clause"/>
    </select>

    <select id="findCount" parameterType="com.vstock.db.entity.CityAddress" resultType="Integer">
        SELECT COUNT(*) FROM city_address ca
        <include refid="SearchAllByPage_Where_Clause"/>
    </select>

    <insert id="insert">
        INSERT INTO `city_address ca` (`id`,`code`,`parentId`,`name`,`level`) VALUES(null,#{code},#{parentId},#{name})
    </insert>

</mapper>