<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vstock.db.dao.IRefundDao">

    <resultMap id="BaseResultMap" type="com.vstock.db.entity.Refund">
        <id property="id" column="id"/>
        <result column="tradeNo" property="tradeNo" jdbcType="VARCHAR"/>
        <result column="refundNo" property="refundNo" jdbcType="VARCHAR"/>
        <result column="refundObj" property="refundObj" jdbcType="VARCHAR"/>
        <result column="btfId" property="btfId" jdbcType="INTEGER"/>
        <result column="btfName" property="btfName" jdbcType="VARCHAR"/>
        <result column="refundPrice" property="refundPrice" jdbcType="DECIMAL"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="type" property="type" jdbcType="VARCHAR"/>
        <result column="createDate" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="SelectAll_Where_Clause">
        <where>
            1=1
            <if test="id != null and id != ''">
                AND r.id = #{id,jdbcType=INTEGER}
            </if>
            <if test="tradeNo != null and tradeNo != ''">
                and r.trade_no = #{tradeNo,jdbcType=VARCHAR}
            </if>
            <if test="refundNo != null and refundNo != ''">
                and r.refund_no = #{refundNo,jdbcType=VARCHAR}
            </if>
            <if test="refundObj != null and refundObj != ''">
                and r.refund_obj = #{refundObj,jdbcType=VARCHAR}
            </if>
            <if test="btfId != null and btfId != ''">
                and r.btf_id = #{btfId,jdbcType=INTEGER}
            </if>
            <if test="btfName != null and btfName != ''">
                and r.btf_name = #{btfName,jdbcType=VARCHAR}
            </if>
            <if test="refundPrice != null and refundPrice != ''">
                and r.refund_price = #{refundPrice,jdbcType=DECIMAL}
            </if>
            <if test="status != null">
                and r.status = #{status,jdbcType=VARCHAR}
            </if>
            <if test="type != null">
                and r.type = #{type,jdbcType=VARCHAR}
            </if>
            <if test="createDate != null and createDate != ''">
                and r.create_date = #{createDate,jdbcType=TIMESTAMP}
            </if>
            <if test="remarks != null and remarks != ''">
                and r.remarks = #{remarks,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

    <sql id="SelectAllByPage_Where_Clause">
        <where>
            1=1
            <if test="obj.id != null and obj.id != ''">
                AND r.id = #{obj.id,jdbcType=INTEGER}
            </if>
            <if test="obj.tradeNo != null and obj.tradeNo != ''">
                and r.trade_no = #{obj.tradeNo,jdbcType=VARCHAR}
            </if>
            <if test="obj.refundNo != null and obj.refundNo != ''">
                and r.refund_no = #{obj.refundNo,jdbcType=VARCHAR}
            </if>
            <if test="obj.refundObj != null and obj.refundObj != ''">
                and r.refund_obj = #{obj.refundObj,jdbcType=VARCHAR}
            </if>
            <if test="obj.btfId != null and obj.btfId != ''">
                and r.btf_id = #{obj.btfId,jdbcType=INTEGER}
            </if>
            <if test="obj.btfName != null and obj.btfName != ''">
                and r.btf_name = #{obj.btfName,jdbcType=VARCHAR}
            </if>
            <if test="obj.refundPrice != null and obj.refundPrice != ''">
                and r.refund_price = #{obj.refundPrice,jdbcType=DECIMAL}
            </if>
            <if test="obj.status != null">
                and r.status = #{obj.status,jdbcType=VARCHAR}
            </if>
            <if test="obj.type != null">
                and r.type = #{obj.type,jdbcType=VARCHAR}
            </if>
            <if test="obj.createDate != null and obj.createDate != ''">
                and r.create_date = #{obj.createDate,jdbcType=TIMESTAMP}
            </if>
            <if test="obj.remarks != null and obj.remarks != ''">
                and r.remarks = #{obj.remarks,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

    <sql id="SearchAll_Where_Clause">
        <where>
            1=1
            <if test="id != null and id != ''">
                AND r.id = #{id,jdbcType=INTEGER}
            </if>
            <if test="tradeNo != null and tradeNo != ''">
                and r.trade_no = #{tradeNo,jdbcType=VARCHAR}
            </if>
            <if test="refundNo != null and refundNo != ''">
                and r.refund_no = #{refundNo,jdbcType=VARCHAR}
            </if>
            <if test="refundObj != null and refundObj != ''">
                and r.refund_obj LIKE CONCAT('%',#{refundObj,jdbcType=VARCHAR},'%')
            </if>
            <if test="btfId != null and btfId != ''">
                and r.btf_id = #{btfId,jdbcType=INTEGER}
            </if>
            <if test="btfName != null and btfName != ''">
                and r.btf_name LIKE CONCAT('%',#{btfName,jdbcType=VARCHAR},'%')
            </if>
            <if test="refundPrice != null and refundPrice != ''">
                and r.refund_price = #{refundPrice,jdbcType=DECIMAL}
            </if>
            <if test="status != null">
                and r.status = #{status,jdbcType=VARCHAR}
            </if>
            <if test="type != null">
                and r.type = #{type,jdbcType=VARCHAR}
            </if>
            <if test="createDate != null and createDate != ''">
                and r.create_date = #{createDate,jdbcType=TIMESTAMP}
            </if>
            <if test="remarks != null and remarks != ''">
                and r.remarks LIKE CONCAT('%',#{remarks,jdbcType=VARCHAR},'%')
            </if>
        </where>
    </sql>

    <sql id="SearchAllByPage_Where_Clause">
        <where>
            1=1
            <if test="obj.id != null and obj.id != ''">
                AND r.id = #{obj.id,jdbcType=INTEGER}
            </if>
            <if test="obj.tradeNo != null and obj.tradeNo != ''">
                and r.trade_no = #{obj.tradeNo,jdbcType=VARCHAR}
            </if>
            <if test="obj.refundNo != null and obj.refundNo != ''">
                and r.refund_no = #{obj.refundNo,jdbcType=VARCHAR}
            </if>
            <if test="obj.refundObj != null and obj.refundObj != '' and obj.refundObj != '-1'">
                and r.refund_obj LIKE CONCAT('%',#{obj.refundObj,jdbcType=VARCHAR},'%')
            </if>
            <if test="obj.btfId != null and obj.btfId != ''">
                and r.btf_id = #{obj.btfId,jdbcType=INTEGER}
            </if>
            <if test="obj.btfName != null and obj.btfName != ''">
                and r.btf_name LIKE CONCAT('%',#{obj.btfName,jdbcType=VARCHAR},'%')
            </if>
            <if test="obj.refundPrice != null and obj.refundPrice != ''">
                and r.refund_price = #{obj.refundPrice,jdbcType=DECIMAL}
            </if>
            <if test="obj.status != null and obj.status != '-1'">
                and r.status = #{obj.status,jdbcType=VARCHAR}
            </if>
            <if test="obj.type != null and obj.type != '-1'">
                and r.type = #{obj.type,jdbcType=VARCHAR}
            </if>
            <if test="obj.createDate != null and obj.createDate != ''">
                and r.create_date = #{obj.createDate,jdbcType=TIMESTAMP}
            </if>
            <if test="obj.remarks != null and obj.remarks != ''">
                and r.remarks LIKE CONCAT('%',#{obj.remarks,jdbcType=VARCHAR},'%')
            </if>
        </where>
    </sql>

    <sql id="SearchAllByPage_Where_Date">
        <if test="startTime != null and startTime != ''">
            and r.create_date &gt;= #{startTime,jdbcType=VARCHAR}
        </if>
        <if test="endTime != null and endTime != ''">
            and r.create_date &lt;= #{endTime,jdbcType=VARCHAR}
        </if>
    </sql>

    <sql id="Base_Column_List">
        r.id as id,
        r.trade_no as tradeNo,
        r.refund_no as refundNo,
        r.refund_obj as refundObj,
        r.btf_id as btfId,
        r.btf_name as btfName,
        r.refund_price as refundPrice,
        r.status as status,
        r.type as type,
        r.create_date as createDate,
        r.remarks as remarks
    </sql>

    <select id="findAll" parameterType="com.vstock.db.entity.Refund" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM refund r
        <include refid="SearchAllByPage_Where_Clause"/>
        ORDER BY r.create_date DESC limit #{startPos},#{pageSize}
    </select>

    <select id="find" parameterType="com.vstock.db.entity.Refund" resultType="com.vstock.db.entity.Refund">
        SELECT
        <include refid="Base_Column_List"/>
        FROM refund r
        <include refid="SearchAllByPage_Where_Clause"/>
    </select>

    <select id="findCount" parameterType="com.vstock.db.entity.Refund" resultType="Integer">
        SELECT COUNT(*) FROM refund r
        <include refid="SearchAllByPage_Where_Clause"/>
    </select>

    <select id="findAllDate" parameterType="com.vstock.db.entity.Refund" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM refund r
        <include refid="SearchAllByPage_Where_Clause"/>
        <include refid="SearchAllByPage_Where_Date"/>
        ORDER BY r.create_date DESC limit #{startPos},#{pageSize}
    </select>

    <select id="findCountDate" parameterType="com.vstock.db.entity.Refund" resultType="Integer">
        SELECT COUNT(*) FROM refund r
        <include refid="SearchAllByPage_Where_Clause"/>
        <include refid="SearchAllByPage_Where_Date"/>
    </select>

    <select id="findRefundAll" parameterType="com.vstock.db.entity.Refund" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM refund r
        <include refid="SearchAllByPage_Where_Clause"/>
        <include refid="SearchAllByPage_Where_Date"/>
        AND r.type NOT IN (5,6)
        ORDER BY r.create_date DESC limit #{startPos},#{pageSize}
    </select>

    <select id="findRefundCount" parameterType="com.vstock.db.entity.Refund" resultType="Integer">
        SELECT COUNT(*) FROM refund r
        <include refid="SearchAllByPage_Where_Clause"/>
        <include refid="SearchAllByPage_Where_Date"/>
        AND r.type NOT IN (5,6)
    </select>

    <insert id="insert">
        INSERT INTO `refund`
        (`id`,`refund_no`,`trade_no`,`refund_obj`,`btf_id`,`btf_name`,`refund_price`,`status`,`type`,`create_date`,`remarks`)
        VALUES(null,#{refundNo},#{tradeNo},#{refundObj},#{btfId},#{btfName},#{refundPrice},#{status},#{type},#{createDate},#{remarks})
    </insert>

    <update id="update" parameterType="com.vstock.db.entity.Refund">
        UPDATE `refund`
        <set>
            <if test="refundNo != null and refundNo != ''">
                refund_no = #{refundNo,jdbcType=VARCHAR},
            </if>
            <if test="tradeNo != null and tradeNo != ''">
                trade_no = #{tradeNo,jdbcType=VARCHAR},
            </if>
            <if test="refundObj != null">
                refund_obj = #{refundObj,jdbcType=VARCHAR},
            </if>
            <if test="btfId != null and btfId != ''">
                btf_id = #{btfId,jdbcType=INTEGER},
            </if>
            <if test="btfName != null and btfName != ''">
                btf_name = #{btfName,jdbcType=VARCHAR},
            </if>
            <if test="refundPrice != null and refundPrice != ''">
                refund_price = #{refundPrice,jdbcType=DECIMAL},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null and createDate != ''">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="remarks != null and remarks != ''">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

</mapper>