<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vstock.db.dao.IResultDataFactory">

    <resultMap id="BaseResultMap" type="com.vstock.db.entity.ResultDataFactory">
        <id property="id" column="id" />
        <result column="commodityDataId" property="commodityDataId" />
        <result column="basiciformationId" property="basiciformationId" />
        <result column="productName" property="productName" />
        <result column="brand" property="brand" />
        <result column="girard" property="girard" />
        <result column="sizePrice" property="sizePrice" />
        <result column="transactionRecord" property="transactionRecord" />
        <result column="createTime" property="createTime" />
        <result column="countTransactionRecord" property="countTransactionRecord" />
        <result column="difference" property="difference" />
        <association property="basicinformation" column="basicinformation" javaType="com.vstock.db.entity.Basicinformation" >
            <id column="id" property="id" />
            <result column="name" property="baname" />
            <result column="artNo" property="baartNo" />
        </association>
    </resultMap>

    <sql id="SelectAll_Where_Clause">
        <where>
            1=1
            <if test="id != null and id != ''">
                AND rf.id = #{id,jdbcType=DECIMAL}
            </if>
            <if test="commodityDataId != null and commodityDataId != ''">
                and rf.commodityDataId = #{commodityDataId,jdbcType=DECIMAL}
            </if>
            <if test="basiciformationId != null and basiciformationId != ''">
                and rf.basiciformationId = #{basiciformationId,jdbcType=DECIMAL}
            </if>
            <if test="productName != null and productName != ''">
                and rf.productName = #{productName,jdbcType=VARCHAR}
            </if>
            <if test="brand != null and brand != ''">
                and rf.brand = #{brand,jdbcType=VARCHAR}
            </if>
            <if test="girard != null and girard != ''">
                and rf.girard = #{girard,jdbcType=VARCHAR}
            </if>
            <if test="sizePrice != null and sizePrice != ''">
                and rf.sizePrice = #{sizePrice,jdbcType=VARCHAR}
            </if>
            <if test="transactionRecord != null and transactionRecord != ''">
                and rf.transactionRecord = #{transactionRecord,jdbcType=VARCHAR}
            </if>
            <if test="createTime != null and createTime != ''">
                and rf.createTime = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="countTransactionRecord != null and countTransactionRecord != ''">
                and rf.countTransactionRecord = #{countTransactionRecord,jdbcType=VARCHAR}
            </if>
            <if test="difference != null and difference != ''">
                and rf.difference = #{difference,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

    <sql id="SelectAllByPage_Where_Clause">
        <where>
            1=1
            <if test="obj.id != null and obj.id != ''">
                AND rf.id = #{obj.id,jdbcType=DECIMAL}
            </if>
            <if test="obj.commodityDataId != null and obj.commodityDataId != ''">
                AND rf.commodityDataId = #{obj.commodityDataId,jdbcType=DECIMAL}
            </if>
            <if test="obj.basiciformationId != null and obj.basiciformationId != ''">
                AND rf.basiciformationId = #{obj.basiciformationId,jdbcType=DECIMAL}
            </if>
            <if test="obj.productName != null and obj.productName != ''">
                AND rf.productName = #{obj.productName,jdbcType=VARCHAR}
            </if>
            <if test="obj.brand != null and obj.brand != ''">
                AND rf.brand = #{obj.brand,jdbcType=VARCHAR}
            </if>
            <if test="obj.girard != null and obj.girard != ''">
                and rf.girard = #{obj.girard,jdbcType=VARCHAR}
            </if>
            <if test="obj.sizePrice != null and obj.sizePrice != ''">
                AND rf.sizePrice = #{obj.sizePrice,jdbcType=VARCHAR}
            </if>
            <if test="obj.transactionRecord != null and obj.transactionRecord != ''">
                AND rf.transactionRecord = #{obj.transactionRecord,jdbcType=VARCHAR}
            </if>
            <if test="obj.createTime != null and obj.createTime != ''">
                AND rf.createTime = #{obj.createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="obj.countTransactionRecord != null and obj.countTransactionRecord != ''">
                AND rf.countTransactionRecord = #{obj.countTransactionRecord,jdbcType=VARCHAR}
            </if>
            <if test="obj.difference != null and obj.difference != ''">
                AND rf.difference = #{obj.difference,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

    <sql id="SearchAll_Where_Clause">
        <where>
            1=1
            <if test="id != null and id != ''">
                and rf.id = #{id,jdbcType=DECIMAL}
            </if>
            <if test="commodityDataId != null and commodityDataId != ''">
                and rf.commodityDataId = #{commodityDataId,jdbcType=DECIMAL}
            </if>
            <if test="basiciformationId != null and basiciformationId != ''">
                and rf.basiciformationId = #{basiciformationId,jdbcType=DECIMAL}
            </if>
            <if test="productName != null and productName != ''">
                and rf.productName LIKE CONCAT('%',#{productName,jdbcType=VARCHAR},'%')
            </if>
            <if test="brand != null and brand != ''">
                and rf.brand LIKE CONCAT('%',#{brand,jdbcType=VARCHAR},'%')
            </if>
            <if test="girard != null and girard != ''">
                and rf.girard LIKE CONCAT('%',#{girard,jdbcType=VARCHAR},'%')
            </if>
            <if test="sizePrice != null and sizePrice != ''">
                and rf.sizePrice LIKE CONCAT('%',#{sizePrice,jdbcType=VARCHAR},'%')
            </if>
            <if test="transactionRecord != null and transactionRecord != ''">
                and rf.transactionRecord LIKE CONCAT('%',#{transactionRecord,jdbcType=VARCHAR},'%')
            </if>
            <if test="createTime != null and createTime != ''">
                and rf.createTime = #{createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="countTransactionRecord != null and countTransactionRecord != ''">
                and rf.countTransactionRecord LIKE CONCAT('%',#{countTransactionRecord,jdbcType=VARCHAR},'%')
            </if>
            <if test="difference != null and difference != ''">
                and rf.difference LIKE CONCAT('%',#{difference,jdbcType=VARCHAR},'%')
            </if>
        </where>
    </sql>

    <sql id="SearchAllByPage_Where_Clause">
        <where>
            1=1
            <if test="obj.id != null and obj.id != ''">
                and rf.id = #{obj.id,jdbcType=DECIMAL}
            </if>
            <if test="obj.commodityDataId != null and obj.commodityDataId != ''">
                and rf.commodityDataId = #{obj.commodityDataId,jdbcType=DECIMAL}
            </if>
            <if test="obj.basiciformationId != null and obj.basiciformationId != ''">
                and rf.basiciformationId = #{obj.basiciformationId,jdbcType=DECIMAL}
            </if>
            <if test="obj.productName != null and obj.productName != ''">
                and rf.productName LIKE CONCAT('%',#{obj.productName,jdbcType=VARCHAR},'%')
            </if>
            <if test="obj.brand != null and obj.brand != ''">
                and rf.brand LIKE CONCAT('%',#{obj.brand,jdbcType=VARCHAR},'%')
            </if>
            <if test="obj.girard != null and obj.girard != ''">
                and rf.girard LIKE CONCAT('%',#{obj.girard,jdbcType=VARCHAR},'%')
            </if>
            <if test="obj.sizePrice != null and obj.sizePrice != ''">
                and rf.sizePrice LIKE CONCAT('%',#{obj.sizePrice,jdbcType=VARCHAR},'%')
            </if>
            <if test="obj.transactionRecord != null and obj.transactionRecord != ''">
                and rf.transactionRecord LIKE CONCAT('%',#{obj.transactionRecord,jdbcType=VARCHAR},'%')
            </if>
            <if test="obj.createTime != null and obj.createTime != ''">
                and rf.createTime = #{obj.createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="obj.countTransactionRecord != null and obj.countTransactionRecord != ''">
                and rf.countTransactionRecord LIKE CONCAT('%',#{obj.countTransactionRecord,jdbcType=VARCHAR},'%')
            </if>
            <if test="obj.difference != null and obj.difference != ''">
                and rf.difference LIKE CONCAT('%',#{obj.difference,jdbcType=VARCHAR},'%')
            </if>
        </where>
    </sql>

    <sql id="Base_Column_List">
        rf.id as id
        , rf.commodityDataId as commodityDataId
        , rf.basiciformationId as basiciformationId
        , rf.productName as productName
        , rf.brand as brand
        , rf.girard as girard
        , rf.sizePrice as sizePrice
        , rf.transactionRecord as transactionRecord
        , rf.createTime as createTime
        , rf.countTransactionRecord as countTransactionRecord
    </sql>

    <select id="findAll" parameterType="com.vstock.db.entity.ResultDataFactory" resultType="com.vstock.db.entity.ResultDataFactory">
        SELECT
        <include refid="Base_Column_List" />
        FROM resultdata_factory rf
        <include refid="SearchAllByPage_Where_Clause" />
        <if test="startTime != null and startTime != ''">
            AND rf.createTime &gt; #{startTime,jdbcType=TIMESTAMP}
        </if>
        <if test="endTime != null and endTime != ''">
            AND rf.createTime &lt; #{endTime,jdbcType=TIMESTAMP}
        </if>
        ORDER BY rf.createTime DESC limit #{startPos},#{pageSize}
    </select>

    <select id="findCount" parameterType="com.vstock.db.entity.ResultDataFactory" resultType="Integer">
        SELECT COUNT(*) FROM resultdata_factory rf
        <include refid="SearchAllByPage_Where_Clause" />
        <if test="startTime != null and startTime != ''">
            AND rf.createTime &gt; #{startTime,jdbcType=TIMESTAMP}
        </if>
        <if test="endTime != null and endTime != ''">
            AND rf.createTime 	&lt; #{endTime,jdbcType=TIMESTAMP}
        </if>
    </select>

    <select id="findrdfAndBasiAll" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List" />
        FROM resultdata_factory rf
        LEFT JOIN basicinformation bf ON rf.basiciformationId = bf.id
        <include refid="SearchAllByPage_Where_Clause" />
        <if test="startTime != null and startTime != ''">
            AND rf.createTime &gt; #{startTime,jdbcType=TIMESTAMP}
        </if>
        <if test="endTime != null and endTime != ''">
            AND rf.createTime &lt; #{endTime,jdbcType=TIMESTAMP}
        </if>
        ORDER BY rf.basiciformationId ASC limit #{startPos},#{pageSize}
    </select>

    <select id="findrdfAndBasiCount" parameterType="com.vstock.db.entity.ResultDataFactory" resultType="Integer">
        SELECT COUNT(*) FROM resultdata_factory rf
        <include refid="SearchAllByPage_Where_Clause" />
        <if test="startTime != null and startTime != ''">
            AND rf.createTime &gt; #{startTime,jdbcType=TIMESTAMP}
        </if>
        <if test="endTime != null and endTime != ''">
            AND rf.createTime 	&lt; #{endTime,jdbcType=TIMESTAMP}
        </if>
    </select>

</mapper>