<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vstock.db.dao.ITradeDao">

    <resultMap id="BaseResultMap" type="com.vstock.db.entity.Trade">
        <id property="id" column="id"/>
        <result column="sellerId" property="sellerId" jdbcType="INTEGER"/>
        <result column="buyersId" property="buyersId" jdbcType="INTEGER"/>
        <result column="bidId" property="bidId" jdbcType="INTEGER"/>
        <result column="tradeNo" property="tradeNo" jdbcType="VARCHAR"/>
        <result column="basicinformationId" property="basicinformationId" jdbcType="INTEGER"/>
        <result column="userAddressId" property="userAddressId" jdbcType="INTEGER"/>
        <result column="transactionMoney" property="transactionMoney" jdbcType="DECIMAL"/>
        <result column="tradeFreight" property="tradeFreight" jdbcType="DECIMAL"/>
        <result column="courierNumber" property="courierNumber" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="VARCHAR"/>
        <result column="transactionDate" property="transactionDate" jdbcType="TIMESTAMP"/>
        <result column="updateDate" property="updateDate" jdbcType="TIMESTAMP"/>
        <result column="sign" property="sign" jdbcType="VARCHAR"/>
        <result column="bft_name" property="bftName" jdbcType="VARCHAR"/>
        <result column="bft_size" property="bftSize" jdbcType="VARCHAR"/>
        <result column="sellerName" property="sellerName" jdbcType="VARCHAR"/>
        <result column="buyersName" property="buyersName" jdbcType="VARCHAR"/>
        <result column="company_name" property="companyName" jdbcType="VARCHAR"/>
        <association property="bid" column="bid"
                     javaType="com.vstock.db.entity.Bid">
            <id column="b_id" property="id"/>
            <result column="bname" property="name"/>
            <result column="bartNo" property="artNo"/>
            <result column="bidBond" property="bidBond"/>
            <result column="btype" property="type"/>
            <result column="bsmallImgUrl" property="smallImgUrl"/>
            <result column="bcsaledate" property="csaledate"/>
        </association>
        <association property="payment" column="payment"
                     javaType="com.vstock.db.entity.Payment">
            <id column="p_id" property="id"/>
            <result column="payment_status" property="payment_status"/>
        </association>
    </resultMap>

    <sql id="SelectAll_Where_Clause">
        <where>
            1=1
            <if test="id != null and id != ''">
                AND t.id = #{id,jdbcType=INTEGER}
            </if>
            <if test="sellerId != null and sellerId != ''">
                and t.seller_id = #{sellerId,jdbcType=INTEGER}
            </if>
            <if test="buyersId != null and buyersId != ''">
                and t.buyers_id = #{buyersId,jdbcType=INTEGER}
            </if>
            <if test="bidId != null and bidId != ''">
                and t.bid_id = #{bidId,jdbcType=INTEGER}
            </if>
            <if test="basicinformationId != null and basicinformationId != ''">
                and t.basicinformation_id = #{basicinformationId,jdbcType=INTEGER}
            </if>
            <if test="transactionMoney != null and transactionMoney != ''">
                and t.transaction_money = #{transactionMoney,jdbcType=DECIMAL}
            </if>
            <if test="tradeFreight != null and tradeFreight != ''">
                and t.trade_freight = #{tradeFreight,jdbcType=DECIMAL}
            </if>
            <if test="courierNumber != null and courierNumber != ''">
                and t.courier_number = #{courierNumber,jdbcType=VARCHAR}
            </if>
            <if test="status != null and status != -1">
                and t.status = #{status,jdbcType=VARCHAR}
            </if>
            <if test="bftSize != null and bftSize != ''">
                and t.bft_size = #{bftSize,jdbcType=VARCHAR}
            </if>
            <if test="transactionDate != null and transactionDate != ''">
                and t.transaction_date = #{transactionDate,jdbcType=TIMESTAMP}
            </if>
            <if test="updateDate != null and updateDate != ''">
                and t.end_date = #{updateDate,jdbcType=TIMESTAMP}
            </if>
            <if test="sign != null and sign != ''">
                and t.sign = #{sign,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

    <sql id="SelectAllByPage_Where_Clause">
        <where>
            1=1
            <if test="obj.id != null and obj.id != ''">
                AND t.id = #{obj.id,jdbcType=INTEGER}
            </if>
            <if test="obj.sellerId != null and obj.sellerId != ''">
                and t.seller_id = #{obj.sellerId,jdbcType=INTEGER}
            </if>
            <if test="obj.buyersId != null and obj.buyersId != ''">
                and t.buyers_id = #{obj.buyersId,jdbcType=INTEGER}
            </if>
            <if test="obj.bidId != null and obj.bidId != ''">
                and t.bid_id = #{obj.bidId,jdbcType=INTEGER}
            </if>
            <if test="obj.basicinformationId != null and obj.basicinformationId != ''">
                and t.basicinformation_id = #{obj.basicinformationId,jdbcType=INTEGER}
            </if>
            <if test="obj.transactionMoney != null and obj.transactionMoney != ''">
                and t.transaction_money = #{obj.transactionMoney,jdbcType=DECIMAL}
            </if>
            <if test="obj.tradeFreight != null and obj.tradeFreight != ''">
                and t.trade_freight = #{obj.tradeFreight,jdbcType=DECIMAL}
            </if>
            <if test="obj.courierNumber != null and obj.courierNumber != ''">
                and t.courier_number = #{obj.courierNumber,jdbcType=VARCHAR}
            </if>
            <if test="obj.status != null and obj.status != -1">
                and t.status = #{obj.status,jdbcType=VARCHAR}
            </if>
            <if test="obj.bftSize != null and obj.bftSize != ''">
                and t.bft_size = #{obj.bftSize,jdbcType=VARCHAR}
            </if>
            <if test="obj.transactionDate != null and obj.transactionDate != ''">
                and t.transaction_date = #{obj.transactionDate,jdbcType=TIMESTAMP}
            </if>
            <if test="obj.updateDate != null and obj.updateDate != ''">
                and t.end_date = #{obj.updateDate,jdbcType=TIMESTAMP}
            </if>
            <if test="obj.sign != null and obj.sign != ''">
                and t.sign = #{obj.sign,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

    <sql id="SearchAll_Where_Clause">
        <where>
            1=1
            <if test="id != null and id != ''">
                AND t.id = #{id,jdbcType=INTEGER}
            </if>
            <if test="sellerId != null and sellerId != ''">
                and t.seller_id = #{sellerId,jdbcType=INTEGER}
            </if>
            <if test="buyersId != null and buyersId != ''">
                and t.buyers_id = #{buyersId,jdbcType=INTEGER}
            </if>
            <if test="bidId != null and bidId != ''">
                and t.bid_id = #{bidId,jdbcType=INTEGER}
            </if>
            <if test="basicinformationId != null and basicinformationId != ''">
                and t.basicinformation_id = #{basicinformationId,jdbcType=INTEGER}
            </if>
            <if test="transactionMoney != null and transactionMoney != ''">
                and t.transaction_money = #{transactionMoney,jdbcType=DECIMAL}
            </if>
            <if test="tradeFreight != null and tradeFreight != ''">
                and t.trade_freight = #{tradeFreight,jdbcType=DECIMAL}
            </if>
            <if test="courierNumber != null and courierNumber != ''">
                and t.courier_number LIKE CONCAT('%',#{courierNumber,jdbcType=VARCHAR},'%')
            </if>
            <if test="status != null and status != -1">
                and t.status = #{status,jdbcType=VARCHAR}
            </if>
            <if test="transactionDate != null and transactionDate != ''">
                and t.transaction_date = #{transactionDate,jdbcType=TIMESTAMP}
            </if>
            <if test="updateDate != null and updateDate != ''">
                and t.end_date = #{updateDate,jdbcType=TIMESTAMP}
            </if>
            <if test="sign != null and sign != ''">
                and t.sign LIKE CONCAT('%',#{sign,jdbcType=VARCHAR},'%')
            </if>
        </where>
    </sql>

    <sql id="SearchAllByPage_Where_Clause">
        <where>
            1=1
            <if test="obj.id != null and obj.id != ''">
                AND t.id = #{obj.id,jdbcType=INTEGER}
            </if>
            <if test="obj.sellerId != null and obj.sellerId != ''">
                and t.seller_id = #{obj.sellerId,jdbcType=INTEGER}
            </if>
            <if test="obj.buyersId != null and obj.buyersId != ''">
                and t.buyers_id = #{obj.buyersId,jdbcType=INTEGER}
            </if>
            <if test="obj.bidId != null and obj.bidId != ''">
                and t.bid_id = #{obj.bidId,jdbcType=INTEGER}
            </if>
            <if test="obj.tradeNo != null and obj.tradeNo != ''">
                and t.trade_no = #{obj.tradeNo,jdbcType=VARCHAR}
            </if>
            <if test="obj.basicinformationId != null and obj.basicinformationId != ''">
                and t.basicinformation_id = #{obj.basicinformationId,jdbcType=INTEGER}
            </if>
            <if test="obj.transactionMoney != null and obj.transactionMoney != ''">
                and t.transaction_money = #{obj.transactionMoney,jdbcType=DECIMAL}
            </if>
            <if test="obj.tradeFreight != null and obj.tradeFreight != ''">
                and t.trade_freight = #{obj.tradeFreight,jdbcType=DECIMAL}
            </if>
            <if test="obj.courierNumber != null and obj.courierNumber != ''">
                and t.courier_number LIKE CONCAT('%',#{obj.courierNumber,jdbcType=VARCHAR},'%')
            </if>
            <if test="obj.status != null and obj.status != 0 and obj.status != -1">
                and t.status = #{obj.status,jdbcType=VARCHAR}
            </if>
            <if test="obj.status == 0">
                and t.status NOT IN (0)
            </if>
            <if test="obj.bftSize != null and obj.bftSize != '' and obj.bftSize != 0">
                and b.bft_size = #{obj.bftSize,jdbcType=VARCHAR}
            </if>
            <if test="obj.transactionDate != null and obj.transactionDate != ''">
                and t.transaction_date = #{obj.transactionDate,jdbcType=TIMESTAMP}
            </if>
            <if test="obj.updateDate != null and obj.updateDate != ''">
                and t.end_date = #{obj.updateDate,jdbcType=TIMESTAMP}
            </if>
            <if test="obj.sign != null and obj.sign != ''">
                and t.sign LIKE CONCAT('%',#{obj.sign,jdbcType=VARCHAR},'%')
            </if>
        </where>
    </sql>

    <sql id="Base_Column_List">
        t.id as id,
        t.seller_id as sellerId,
        t.buyers_id as buyersId,
        t.trade_no as tradeNo,
        t.bid_id as bidId,
        t.basicinformation_id as basicinformationId,
        t.user_address_id as userAddressId,
        t.transaction_money as transactionMoney,
        t.trade_freight  as tradeFreight,
        t.bft_size as bftSize,
        t.courier_number as courierNumber,
        t.status as status,
        t.transaction_date as transactionDate,
        t.update_date as updateDate,
        t.sign as sign
    </sql>

    <select id="findAll" parameterType="com.vstock.db.entity.Trade" resultType="com.vstock.db.entity.Trade">
        SELECT
        <include refid="Base_Column_List"/>
        FROM trade t
        <include refid="SelectAllByPage_Where_Clause"/>
        ORDER BY t.transaction_date DESC limit #{startPos},#{pageSize}
    </select>

    <select id="findAllSale" parameterType="com.vstock.db.entity.Trade" resultType="com.vstock.db.entity.Trade">
        SELECT
        <include refid="Base_Column_List"/>
        FROM trade t
        <include refid="SelectAllByPage_Where_Clause"/>
        and ((t.status = 1 and t.is_bond = 1) or (t.status != 0 and t.status != 1 and t.status != 41))
        ORDER BY t.transaction_date DESC limit #{startPos},#{pageSize}
    </select>

    <select id="findAllTrade" parameterType="com.vstock.db.entity.Trade" resultType="com.vstock.db.entity.Trade">
        SELECT
        <include refid="Base_Column_List"/>
        FROM trade t
        <include refid="SelectAllByPage_Where_Clause"/>
    </select>

    <select id="findInStatus" parameterType="com.vstock.db.entity.Trade" resultType="com.vstock.db.entity.Trade">
        SELECT
        <include refid="Base_Column_List"/>
        FROM trade t
        <include refid="SelectAllByPage_Where_Clause"/>
        AND t.status IN (2,10,20,30)
    </select>

    <select id="findAllDate" parameterType="com.vstock.db.entity.Trade" resultMap="BaseResultMap">
        SELECT u.nick AS sellerName, a.nick AS buyersName, b.bft_name,b.bft_size, b.bid_bond as bidBond,
        <include refid="Base_Column_List"/>
        FROM trade t LEFT JOIN `user` u ON t.seller_id = u.id
        LEFT JOIN `user` a ON t.buyers_id = a.id
        LEFT JOIN bid b ON t.bid_id = b.id
        <include refid="SearchAllByPage_Where_Clause"/>
        <if test="obj.bftName != null and obj.bftName != ''">
            and b.bft_name LIKE CONCAT('%',#{obj.bftName,jdbcType=VARCHAR},'%')
        </if>
        <if test="obj.buyersName != null and obj.buyersName != ''">
            and a.nick LIKE CONCAT('%',#{obj.buyersName,jdbcType=VARCHAR},'%')
        </if>
        <if test="obj.sellerName != null and obj.sellerName != ''">
            and u.nick LIKE CONCAT('%',#{obj.sellerName,jdbcType=VARCHAR},'%')
        </if>
        <if test="startDateTime != null and startDateTime != ''">
            and t.transaction_date &gt; #{startDateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="endDateTime != null and endDateTime != ''">
            and t.transaction_date &lt; #{endDateTime,jdbcType=TIMESTAMP}
        </if>
        ORDER BY t.transaction_date DESC limit #{startPos},#{pageSize}
    </select>

    <select id="findModel" parameterType="com.vstock.db.entity.Trade" resultMap="BaseResultMap">
        SELECT u.nick AS sellerName, a.nick AS buyersName, b.bft_name,b.bft_size, b.bid_bond as bidBond,
        <include refid="Base_Column_List"/>
        FROM trade t LEFT JOIN `user` u ON t.seller_id = u.id
        LEFT JOIN `user` a ON t.buyers_id = a.id
        LEFT JOIN bid b ON t.bid_id = b.id
        WHERE t.status IN (2,21,40)
        <if test="obj.bftName != null and obj.bftName != ''">
            and b.bft_name LIKE CONCAT('%',#{obj.bftName,jdbcType=VARCHAR},'%')
        </if>
        <if test="obj.sellerName != null and obj.sellerName != ''">
            and u.nick LIKE CONCAT('%',#{obj.sellerName,jdbcType=VARCHAR},'%')
        </if>
        ORDER BY t.transaction_date DESC
    </select>

    <select id="findCountDate" parameterType="com.vstock.db.entity.Trade" resultType="Integer">
        SELECT COUNT(*) FROM trade t LEFT JOIN `user` u ON t.seller_id = u.id
        LEFT JOIN `user` a ON t.buyers_id = a.id LEFT JOIN bid b ON t.bid_id = b.id
        <include refid="SearchAllByPage_Where_Clause"/>
        <if test="obj.bftName != null and obj.bftName != ''">
            and b.bft_name LIKE CONCAT('%',#{obj.bftName,jdbcType=VARCHAR},'%')
        </if>
        <if test="obj.buyersName != null and obj.buyersName != ''">
            and a.nick LIKE CONCAT('%',#{obj.buyersName,jdbcType=VARCHAR},'%')
        </if>
        <if test="obj.sellerName != null and obj.sellerName != ''">
            and u.nick LIKE CONCAT('%',#{obj.sellerName,jdbcType=VARCHAR},'%')
        </if>
        <if test="startDateTime != null and startDateTime != ''">
            and t.transaction_date &gt; #{startDateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="endDateTime != null and endDateTime != ''">
            and t.transaction_date &lt; #{endDateTime,jdbcType=TIMESTAMP}
        </if>
    </select>

    <select id="findAndBid" parameterType="com.vstock.db.entity.Trade" resultMap="BaseResultMap">
        SELECT u.nick AS sellerName, a.nick AS buyersName,b.bft_name,b.bft_size,li.company_name, b.bid_bond as bidBond,
        <include refid="Base_Column_List"/>
        FROM trade t LEFT JOIN bid b ON t.bid_id = b.id
        LEFT JOIN `user` u ON t.seller_id = u.id
        LEFT JOIN `user` a ON t.buyers_id = a.id
        LEFT JOIN logistics_information li ON t.id = li.trade_id
        <include refid="SearchAllByPage_Where_Clause"/>
        ORDER BY t.transaction_date DESC limit #{startPos},#{pageSize}
    </select>

    <select id="findCount" parameterType="com.vstock.db.entity.Trade" resultType="Integer">
        SELECT COUNT(*) FROM trade t
        <include refid="SelectAllByPage_Where_Clause"/>
    </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `trade`
        (`id`,`seller_id`,`buyers_id`,`bid_id`,`basicinformation_id`,`transaction_money`,`trade_freight`,`bft_size`,`courier_number`,`status`,`transaction_date`,`update_date`,`sign`,`user_address_id`,`trade_no`,`is_bond`)
        VALUES(null,#{sellerId},#{buyersId},#{bidId},#{basicinformationId},#{transactionMoney},#{tradeFreight},#{bftSize},#{courierNumber},#{status},#{transactionDate},#{updateDate},#{sign},#{userAddressId},#{tradeNo},#{isBond})
    </insert>

    <update id="update">
        UPDATE `trade`
        <set>
            <if test="updateDate != null and updateDate != ''">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null and status != ''">
                status = #{status,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <sql id="SearchAllPage_Where_Clause">
        <where>
            1=1 and t.status NOT IN (50)
            <if test="obj.id != null and obj.id != ''">
                AND t.id = #{obj.id,jdbcType=INTEGER}
            </if>
            <if test="obj.sellerId != null and obj.sellerId != ''">
                and t.seller_id = #{obj.sellerId,jdbcType=INTEGER}
            </if>
            <if test="obj.buyersId != null and obj.buyersId != ''">
                and t.buyers_id = #{obj.buyersId,jdbcType=INTEGER}
            </if>
            <if test="obj.bidId != null and obj.bidId != ''">
                and t.bid_id = #{obj.bidId,jdbcType=INTEGER}
            </if>
            <if test="obj.basicinformationId != null and obj.basicinformationId != ''">
                and t.basicinformation_id = #{obj.basicinformationId,jdbcType=INTEGER}
            </if>
            <if test="obj.transactionMoney != null and obj.transactionMoney != ''">
                and t.transaction_money = #{obj.transactionMoney,jdbcType=DECIMAL}
            </if>
            <if test="obj.tradeFreight != null and obj.tradeFreight != ''">
                and t.trade_freight = #{obj.tradeFreight,jdbcType=DECIMAL}
            </if>
            <if test="obj.courierNumber != null and obj.courierNumber != ''">
                and t.courier_number LIKE CONCAT('%',#{obj.courierNumber,jdbcType=VARCHAR},'%')
            </if>
            <if test="obj.status != null and obj.status != 50 and obj.status != -1">
                and t.status = #{obj.status,jdbcType=VARCHAR}
            </if>
            <if test="obj.status == 50">
                and t.status NOT IN (0)
            </if>
            <if test="obj.notStatus != null and obj.notStatus != ''">
                and t.status NOT IN (#{obj.notStatus,jdbcType=VARCHAR})
            </if>
            <if test="obj.bftSize != null and obj.bftSize != '' and obj.bftSize != 0">
                and b.bft_size = #{obj.bftSize,jdbcType=VARCHAR}
            </if>
            <if test="obj.transactionDate != null and obj.transactionDate != ''">
                and t.transaction_date = #{obj.transactionDate,jdbcType=TIMESTAMP}
            </if>
            <if test="obj.updateDate != null and obj.updateDate != ''">
                and t.end_date = #{obj.updateDate,jdbcType=TIMESTAMP}
            </if>
            <if test="obj.sign != null and obj.sign != ''">
                and t.sign LIKE CONCAT('%',#{obj.sign,jdbcType=VARCHAR},'%')
            </if>
        </where>
    </sql>

    <select id="findAllWeb" parameterType="com.vstock.db.entity.Trade" resultMap="BaseResultMap">
        SELECT b.bft_name,b.bft_size, b.bid_bond as bidBond,p.payment_status,
        <include refid="Base_Column_List"/>
        FROM trade t LEFT JOIN bid b ON t.bid_id = b.id LEFT JOIN payment p ON p.order_record_id = t.id
        <include refid="SearchAllPage_Where_Clause"/>
        ORDER BY t.transaction_date DESC limit #{startPos},#{pageSize}
    </select>

    <select id="findCountWeb" parameterType="com.vstock.db.entity.Trade" resultType="Integer">
        SELECT COUNT(*) FROM trade t
        <include refid="SearchAllPage_Where_Clause"/>
    </select>

    <select id="findAllYunFee" parameterType="com.vstock.db.entity.TradeYunfee" resultType="com.vstock.db.entity.TradeYunfee">
        select tyf.id,tyf.city_name as cityName,tyf.fee_money as feeMoney from trade_yun_fee tyf
        where tyf.status = 1
    </select>

    <update id="updateAll" parameterType="com.vstock.db.entity.Trade">
        UPDATE `trade`
        <set>
            <if test="sellerId != null and sellerId != ''">
                seller_id = #{sellerId,jdbcType=INTEGER},
            </if>
            <if test="buyersId != null and buyersId != ''">
                buyers_id = #{buyersId,jdbcType=INTEGER},
            </if>
            <if test="bidId != null and bidId != ''">
                bid_id = #{bidId,jdbcType=INTEGER},
            </if>
            <if test="basicinformationId != null and basicinformationId != ''">
                basicinformation_id = #{basicinformationId,jdbcType=INTEGER},
            </if>
            <if test="transactionMoney != null and transactionMoney != ''">
                transaction_money = #{transactionMoney,jdbcType=DECIMAL},
            </if>
            <if test="tradeFreight != null and tradeFreight != ''">
                trade_freight = #{tradeFreight,jdbcType=DECIMAL},
            </if>
            <if test="courierNumber != null and courierNumber != ''">
                courier_number = #{courierNumber,jdbcType=VARCHAR},
            </if>
            <if test="transactionDate != null and transactionDate != ''">
                transaction_date = #{transactionDate,jdbcType=TIMESTAMP},
            </if>
            <if test="sign != null and sign != ''">
                sign = #{sign,jdbcType=VARCHAR},
            </if>
            <if test="updateDate != null and updateDate != ''">
                update_date = #{updateDate,jdbcType=TIMESTAMP},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=VARCHAR},
            </if>
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

</mapper>