<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vstock.db.dao.IUserDao">

    <insert id="insertUser" parameterType="com.vstock.db.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `user`
        (`id`,`alipay_user_id`,`mobile`,`password`,`salt`,`nick`,`size`,`invitationId`,`create_time`)
        VALUES(null,#{alipayUserId},#{mobile},#{password},#{salt},#{nick},#{size},#{invitationId},now())
    </insert>

    <select id="findUser"  resultType="com.vstock.db.entity.User">
        select * from `user` u
        <include refid="SelectAll_Where_Count"/>
    </select>

    <sql id="SelectAll_Where_Count">
        <where>
            1=1
            <if test="id != null and id != ''">
                AND id = #{id,jdbcType=VARCHAR}
            </if>
            <if test="alipayUserId != null and alipayUserId != ''">
                AND alipay_user_id = #{alipayUserId,jdbcType=VARCHAR}
            </if>
            <if test="uname != null and uname != ''">
                AND uname = #{uname,jdbcType=VARCHAR}
            </if>
            <if test="nick != null and nick != ''">
                AND nick = #{nick,jdbcType=VARCHAR}
            </if>
            <if test="mobile != null and mobile != ''">
                AND mobile = #{mobile,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

    <update id="update">
        UPDATE `user`
        <set>
            <if test="alipayUserId != null and alipayUserId != ''">
                alipay_user_id = #{alipayUserId,jdbcType=VARCHAR},
            </if>
            <if test="mobile != null and mobile != ''">
                mobile = #{mobile,jdbcType=INTEGER},
            </if>
            <if test="password != null and password != ''">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="uname != null and uname != ''">
                uname = #{uname,jdbcType=VARCHAR},
            </if>
            <if test="nick != null and nick != ''">
                nick = #{nick,jdbcType=VARCHAR},
            </if>
            <if test="salt != null and salt != ''">
                salt = #{salt,jdbcType=VARCHAR},
            </if>
            <if test="size != null and size != ''">
                `size` = #{size,jdbcType=VARCHAR},
            </if>
            <if test="last_login_ip != null and last_login_ip != ''">
                last_login_ip = #{last_login_ip,jdbcType=VARCHAR},
            </if>
            <if test="last_login_time != null and last_login_time != ''">
                last_login_time = #{last_login_time,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="create_time != null and create_time != ''">
                create_time = #{create_time,jdbcType=TIMESTAMP},
            </if>
            <if test="create_time != null and create_time != ''">
                update_time = #{update_time,jdbcType=TIMESTAMP},
            </if>
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>

    <select id="findAll" parameterType="com.vstock.db.entity.User" resultType="com.vstock.db.entity.User">
        SELECT * FROM `user` u <include refid="SearchAllByPage_Where_Clause"/> ORDER BY u.id DESC
        limit #{startPos},#{pageSize}
    </select>

    <select id="findAllDate" parameterType="com.vstock.db.entity.User" resultType="com.vstock.db.entity.User">
        SELECT * FROM `user` u
        <include refid="SearchAllByPage_Where_Clause"/>
        <include refid="SelectAll_Where_Date"/>
        ORDER BY u.id DESC limit #{startPos},#{pageSize}
    </select>

    <select id="findActivityAll" parameterType="com.vstock.db.entity.UserActivity" resultType="com.vstock.db.entity.UserActivity">
        SELECT * FROM `user_activity` u
        limit #{startPos},#{pageSize}
    </select>

    <select id="findCount" parameterType="com.vstock.db.entity.User" resultType="Integer">
        SELECT COUNT(*) FROM `user` u <include refid="SelectAll_Where_Clause"/> ORDER BY u.id DESC
    </select>

    <select id="findCountDate" parameterType="com.vstock.db.entity.User" resultType="Integer">
        SELECT COUNT(*) FROM `user` u
        <include refid="SearchAllByPage_Where_Clause"/>
        <include refid="SelectAll_Where_Date"/>
        ORDER BY u.id DESC
    </select>

    <select id="findActivityCount" parameterType="com.vstock.db.entity.UserActivity" resultType="Integer">
        SELECT COUNT(*) FROM `user_activity`
    </select>

    <sql id="SelectAll_Where_Date">
        <if test="startCreateTime != null and startCreateTime != ''">
            and u.create_time &gt; #{startCreateTime,jdbcType=TIMESTAMP}
        </if>
        <if test="endCreateTime != null and endCreateTime != ''">
            and u.create_time &lt; #{endCreateTime,jdbcType=TIMESTAMP}
        </if>
    </sql>

    <sql id="SelectAll_Where_Clause">
        <where>
            1=1
            <if test="id != null and id != ''">
                AND u.id = #{id,jdbcType=INTEGER}
            </if>
            <if test="alipayUserId != null and alipayUserId != ''">
                AND alipay_user_id = #{alipayUserId,jdbcType=VARCHAR}
            </if>
            <if test="mobile != null and mobile != ''">
                and u.mobile = #{mobile,jdbcType=VARCHAR}
            </if>
            <if test="password != null and password != ''">
                and u.password = #{password,jdbcType=VARCHAR}
            </if>
            <if test="uname != null and uname != ''">
                and u.uname = #{uname,jdbcType=VARCHAR}
            </if>
            <if test="nick != null and nick != ''">
                and u.nick LIKE CONCAT('%',#{nick,jdbcType=VARCHAR},'%')
            </if>
            <if test="salt != null and salt != ''">
                and u.salt = #{salt,jdbcType=VARCHAR}
            </if>
            <if test="size != null and size != 0">
                and u.size = #{size,jdbcType=VARCHAR}
            </if>
            <if test="last_login_ip != null and last_login_ip != ''">
                and u.last_login_ip = #{last_login_ip,jdbcType=VARCHAR}
            </if>
            <if test="last_login_time != null and last_login_time != ''">
                and u.last_login_time = #{last_login_time,jdbcType=TIMESTAMP}
            </if>
            <if test="status != null and status != -1">
                and u.status = #{status,jdbcType=INTEGER}
            </if>
            <if test="create_time != null and create_time != ''">
                and u.create_time = #{create_time,jdbcType=TIMESTAMP}
            </if>
            <if test="update_time != null and update_time != ''">
                and u.update_time = #{update_time,jdbcType=TIMESTAMP}
            </if>
        </where>
    </sql>

    <sql id="SearchAllByPage_Where_Clause">
        <where>
            1=1
            <if test="obj.id != null and obj.id != ''">
                AND u.id = #{obj.id,jdbcType=INTEGER}
            </if>
            <if test="obj.alipayUserId != null and obj.alipayUserId != ''">
                AND u.alipay_user_id = #{obj.alipayUserId,jdbcType=VARCHAR}
            </if>
            <if test="obj.mobile != null and obj.mobile != ''">
                and u.mobile = #{obj.mobile,jdbcType=VARCHAR}
            </if>
            <if test="obj.password != null and obj.password != ''">
                and u.password = #{obj.password,jdbcType=VARCHAR}
            </if>
            <if test="obj.uname != null and obj.uname != ''">
                and u.uname = #{obj.uname,jdbcType=VARCHAR}
            </if>
            <if test="obj.nick != null and obj.nick != ''">
                and u.nick LIKE CONCAT('%',#{obj.nick,jdbcType=VARCHAR},'%')
            </if>
            <if test="obj.salt != null and obj.salt != ''">
                and u.salt = #{obj.salt,jdbcType=VARCHAR}
            </if>
            <if test="obj.size != null and obj.size != 0">
                and u.size = #{obj.size,jdbcType=VARCHAR}
            </if>
            <if test="obj.last_login_ip != null and obj.last_login_ip != ''">
                and u.last_login_ip = #{obj.last_login_ip,jdbcType=VARCHAR}
            </if>
            <if test="obj.last_login_time != null and obj.last_login_time != ''">
                and u.last_login_time = #{obj.last_login_time,jdbcType=TIMESTAMP}
            </if>
            <if test="obj.status != null and obj.status != -1">
                and u.status = #{obj.status,jdbcType=INTEGER}
            </if>
            <if test="obj.create_time != null and obj.create_time != ''">
                and u.create_time = #{obj.create_time,jdbcType=TIMESTAMP}
            </if>
            <if test="obj.update_time != null and obj.update_time != ''">
                and u.update_time = #{obj.update_time,jdbcType=TIMESTAMP}
            </if>
        </where>
    </sql>
</mapper>