<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vstock.db.dao.IUserDao">

    <insert id="insertUser" parameterType="com.vstock.db.entity.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO `user`
        (`id`,`mobile`,`password`,`salt`,`nick`,`size`,`create_time`)
        VALUES(null,#{mobile},#{password},#{salt},#{nick},#{size},now())
    </insert>

    <select id="findUser"  resultType="com.vstock.db.entity.User">
        select * from `user` u
        <include refid="SelectAll_Where_Count"/>
    </select>

    <sql id="SelectAll_Where_Count">
        <where>
            1=1
            <if test="id != null and id != ''">
                AND id = #{id,jdbcType=VARCHAR}
            </if>
            <if test="uname != null and uname != ''">
                AND uname = #{uname,jdbcType=VARCHAR}
            </if>
            <if test="nick != null and nick != ''">
                AND nick = #{nick,jdbcType=VARCHAR}
            </if>
            <if test="mobile != null and mobile != ''">
                AND mobile = #{mobile,jdbcType=VARCHAR}
            </if>
        </where>
    </sql>

    <update id="update">
        UPDATE `user`
        <set>
            <if test="mobile != null and mobile != ''">
                mobile = #{mobile,jdbcType=INTEGER},
            </if>
            <if test="password != null and password != ''">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="uname != null and uname != ''">
                uname = #{uname,jdbcType=VARCHAR},
            </if>
            <if test="nick != null and nick != ''">
                nick = #{nick,jdbcType=VARCHAR},
            </if>
            <if test="salt != null and salt != ''">
                salt = #{salt,jdbcType=VARCHAR},
            </if>
            <if test="size != null and size != ''">
                `size` = #{size,jdbcType=VARCHAR},
            </if>
            <if test="last_login_ip != null and last_login_ip != ''">
                last_login_ip = #{last_login_ip,jdbcType=VARCHAR},
            </if>
            <if test="last_login_time != null and last_login_time != ''">
                last_login_time = #{last_login_time,jdbcType=VARCHAR},
            </if>
            <if test="status != null and status != ''">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="create_time != null and create_time != ''">
                create_time = #{create_time,jdbcType=TIMESTAMP},
            </if>
            <if test="create_time != null and create_time != ''">
                update_time = #{update_time,jdbcType=TIMESTAMP},
            </if>
        </set>
        WHERE id = #{id,jdbcType=INTEGER}
    </update>
</mapper>