<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vstock.db.dao.IVstockConfigDao">

    <select id="findAll"  resultType="com.vstock.db.entity.VstockConfig">
        select * from vstock_config vc
        WHERE  vc.status = 1
    </select>

</mapper>