/** LAYOUT **/
* {
    font-family: "微软雅黑";
    font-size:16px;
}
.layout-font-size-16{ font-size: 16px; }
.layout-font-size-18{ font-size: 18px; }
.layout-font-size-20{ font-size: 20px; }
.layout-font-size-22{ font-size: 22px; }
.layout-font-size-24{ font-size: 24px; }
.layout-font-size-26{ font-size: 26px; }
.layout-font-size-28{ font-size: 28px; }
.layout-font-size-30{ font-size: 30px; }
.layout-font-size-32{ font-size: 32px; }
.layout-font-size-34{ font-size: 34px; }
.layout-font-size-36{ font-size: 36px; }
@media (max-width: 1450px){
    *{ font-size:14px; }
    .layout-font-size-16{ font-size: 14px; }
    .layout-font-size-18{ font-size: 16px; }
    .layout-font-size-20{ font-size: 18px; }
    .layout-font-size-22{ font-size: 20px; }
    .layout-font-size-24{ font-size: 22px; }
    .layout-font-size-26{ font-size: 24px; }
    .layout-font-size-28{ font-size: 26px; }
    .layout-font-size-30{ font-size: 28px; }
    .layout-font-size-32{ font-size: 30px; }
    .layout-font-size-34{ font-size: 32px; }
    .layout-font-size-36{ font-size: 34px; }
}
@media (max-width: 768px){
    .layout-font-size-16{ font-size: 12px; }
    .layout-font-size-18{ font-size: 14px; }
    .layout-font-size-20{ font-size: 16px; }
    .layout-font-size-22{ font-size: 18px; }
    .layout-font-size-24{ font-size: 20px; }
    .layout-font-size-26{ font-size: 22px; }
    .layout-font-size-28{ font-size: 24px; }
    .layout-font-size-30{ font-size: 26px; }
    .layout-font-size-32{ font-size: 28px; }
    .layout-font-size-34{ font-size: 30px; }
    .layout-font-size-36{ font-size: 32px; }
}
/** HEAD **/
.am-sticky{ box-shadow: rgb(204, 204, 204) 0px 2px 10px 0px; }
.v-logo{
    display: block;
    float: left;
    width: 56px;
    height: 50px;
    text-indent: -9999px;
    background: url('../../assets/i/logo.png') no-repeat left center;
}
.logo-stock{
    width:230px;
}
.v-a-boder{
    font-weight: bold;
    width: 66px;
    height: 38px;
    line-height: 22px;
    color: #ea5958!important;
    border: 2px solid #ea5958;
    border-radius: 10px!important;
}
.m-hd{
    width: 100%;
    position: relative;
    z-index: 2;
    height: 80px;
    padding: 15px 0 0 0;
}
.m-hd .am-sticky {
    /*background: #f2f2f2;*/
    /*opacity: 0.95;*/
    background: #fff;
    padding: 15px 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
}
.m-hd .am-container {
    position: relative;
}
.am-container {
    max-width: 1200px;
    /*min-width: 750px;*/
}
.am-sticky {
    position: fixed!important;
    z-index: 1010;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}
.m-services {
    background: #1a1f2a;
    padding: 40px 0 40px 0;
    color: #fff;
}
.m-hd .m-nav a {
    color: #828282;
}
/** BANNER **/
.am-slider-i2 .am-slider-images {
    height: 680px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
}
.get-index{
    background: url("/assets/i/banner.png") top center no-repeat;
    color: #fff;
    text-align: center;
    height: 680px;
}
.get-title-search {
    display: inline-block;
    padding-top: 12%;
}
.am-container-content{ max-width: 1080px; margin: auto; }
@media (max-width: 1600px){
    .get-title-search {
        display: inline-block;
        padding-top: 12.8%;
    }
    .get-index{
        background: url("/assets/i/banner.png") center no-repeat;
        height: 580px;
    }
}
@media (max-width: 1400px){
    .get-title-search {
        display: inline-block;
        padding-top: 13.6%;
    }
    .am-container-content{ max-width: 980px; margin: auto; }
    .get-index{
        background: url("/assets/i/banner.png") center no-repeat;
        height: 580px;
    }
}
.get-sorts{
    background: url("/assets/i/banner-sorts.png") top center no-repeat;
    color: #fff;
    text-align: center;
    height: 252px;
}
.get-title {
    display: inline-block;
}

.get_font_left, .get_font_rigth {
    line-height: 95px;
}
.get_font_left {
    width: 112px;
    height: 115px;
    line-height: 115px;
    float: left;
    font-size: 24px;
}
.get_font_center {
    width: auto;
    height: 115px;
    margin: 0 20px;
    line-height: 115px;
    float: left;
    font-size: 84px;
    color: #fff;
    font-family: 'avantgarde_md_btmedium';
}
.get_font_rigth {
    width: 112px;
    height: 115px;
    line-height: 115px;
    float: left;
    font-size: 24px;
    vertical-align: middle;
}
.get-input{
    font-size: 2.6rem!important;
}
/** BOTTOM **/
.m-footer {
    background: #1a1f2a;
    padding: 60px 0 0 0;
    color: #fff;
    font-size: 14px;
    background: url("/assets/i/footer.png");
}
.m-footer a{
    color: #fff;
}
.am-container {
    max-width: 1200px;
}
.m-footer-container{
    padding-bottom: 60px;
}

/** SIDE **/


/** 统一样式 **/
a, a:hover,.popover .m-partner li img, .m-partner li img:hover, .m-contact-infobox, .m-contact-infobox:hover, .m-footer .ico i, .m-footer .ico i:hover, .m-service-page .ico ul li span, .m-service-page .ico ul li span:hover, .m-hd .am-sticky, .m-service-list li:hover {
    -webkit-filter: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.popover{position:absolute;top:0;left:0;z-index:1060;display:none;max-width:326px;padding:1px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;font-style:normal;font-weight:400;line-height:1.42857143;text-align:left;text-align:start;text-decoration:none;text-shadow:none;text-transform:none;letter-spacing:normal;word-break:normal;word-spacing:normal;word-wrap:normal;white-space:normal;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0,0,0,.2);border-radius:6px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);box-shadow:0 5px 10px rgba(0,0,0,.2);line-break:auto}.popover.top{margin-top:-10px}.popover.right{margin-left:10px}.popover.bottom{margin-top:10px}.popover.left{margin-left:-10px}.popover-title{padding:8px 14px;margin:0;font-size:14px;background-color:#f7f7f7;border-bottom:1px solid #ebebeb;border-radius:5px 5px 0 0}.popover-content{padding:9px 14px}.popover>.arrow,.popover>.arrow:after{position:absolute;display:block;width:0;height:0;border-color:transparent;border-style:solid}.popover>.arrow{border-width:11px}.popover>.arrow:after{content:"";border-width:10px}.popover.top>.arrow{bottom:-11px;left:50%;margin-left:-11px;border-top-color:#999;border-top-color:rgba(0,0,0,.25);border-bottom-width:0}.popover.top>.arrow:after{bottom:1px;margin-left:-10px;content:" ";border-top-color:#fff;border-bottom-width:0}.popover.right>.arrow{top:50%;left:-11px;margin-top:-11px;border-right-color:#999;border-right-color:rgba(0,0,0,.25);border-left-width:0}.popover.right>.arrow:after{bottom:-10px;left:1px;content:" ";border-right-color:#fff;border-left-width:0}.popover.bottom>.arrow{top:-11px;left:50%;margin-left:-11px;border-top-width:0;border-bottom-color:#999;border-bottom-color:rgba(0,0,0,.25)}.popover.bottom>.arrow:after{top:1px;margin-left:-10px;content:" ";border-top-width:0;border-bottom-color:#fff}.popover.left>.arrow{top:50%;right:-11px;margin-top:-11px;border-right-width:0;border-left-color:#999;border-left-color:rgba(0,0,0,.25)}.popover.left>.arrow:after{right:1px;bottom:-10px;content:" ";border-right-width:0;border-left-color:#fff}

