/** LAYOUT **/
* {
    font-family: "微软雅黑";
    font-size:16px;
}
body{
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
}
.layout-font-size-14{ font-size: 14px; }
.layout-font-size-16{ font-size: 16px; }
.layout-font-size-18{ font-size: 18px; }
.layout-font-size-20{ font-size: 20px; }
.layout-font-size-22{ font-size: 22px; }
.layout-font-size-24{ font-size: 24px; }
.layout-font-size-26{ font-size: 26px; }
.layout-font-size-28{ font-size: 28px; }
.layout-font-size-30{ font-size: 30px; }
.layout-font-size-32{ font-size: 32px; }
.layout-font-size-34{ font-size: 34px; }
.layout-font-size-36{ font-size: 36px; }
@media (max-width: 1450px){
    *{ font-size:14px; }
    .layout-font-size-14{ font-size: 12px; }
    .layout-font-size-16{ font-size: 14px; }
    .layout-font-size-18{ font-size: 16px; }
    .layout-font-size-20{ font-size: 18px; }
    .layout-font-size-22{ font-size: 20px; }
    .layout-font-size-24{ font-size: 22px; }
    .layout-font-size-26{ font-size: 24px; }
    .layout-font-size-28{ font-size: 26px; }
    .layout-font-size-30{ font-size: 28px; }
    .layout-font-size-32{ font-size: 30px; }
    .layout-font-size-34{ font-size: 32px; }
    .layout-font-size-36{ font-size: 34px; }
}
@media (max-width: 768px){
    .layout-font-size-14{ font-size: 12px; }
    .layout-font-size-16{ font-size: 12px; }
    .layout-font-size-18{ font-size: 14px; }
    .layout-font-size-20{ font-size: 16px; }
    .layout-font-size-22{ font-size: 18px; }
    .layout-font-size-24{ font-size: 20px; }
    .layout-font-size-26{ font-size: 22px; }
    .layout-font-size-28{ font-size: 24px; }
    .layout-font-size-30{ font-size: 26px; }
    .layout-font-size-32{ font-size: 28px; }
    .layout-font-size-34{ font-size: 30px; }
    .layout-font-size-36{ font-size: 32px; }
}
/** HEAD **/
.am-sticky{ box-shadow: rgb(204, 204, 204) 0 2px 10px 0; }
@media (max-width: 1150px){
    .stock_sell{
        display: none!important;
    }
}
.v-logo{
    display: block;
    position: absolute;
    float: left;
    width: 56px;
    height: 50px;
    text-indent: -9999px;
    background: url('../../assets/i/logo.png') no-repeat left center;
}
.logo-stock{
    width:230px;
}
.v-a-boder{
    font-weight: bold;
    width: 66px;
    height: 38px;
    line-height: 22px;
    color: #ea5958!important;
    border: 2px solid #ea5958;
    border-radius: 10px!important;
}
.m-hd{
    width: 100%;
    position: relative;
    z-index: 2;
    height: 80px;
}
.m-hd .am-sticky {
    /*background: #f2f2f2;*/
    /*opacity: 0.95;*/
    background: #fff;
    padding: 15px 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=95);
}
.m-hd .am-container {
    position: relative;
}
.am-sticky {
    position: fixed!important;
    z-index: 1010;
    -webkit-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
}
.m-services {
    background: #1a1f2a;
    padding: 40px 0 40px 0;
    color: #fff;
}
.m-hd .m-nav a {
    color: #828282;
}
/** BANNER **/
.am-slider-i2 .am-slider-images {
    height: 680px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
}
.get-index{
    background: url("/assets/i/banner.png") center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    text-align: center;
    height: 680px;
}
.get-title-search {
    display: inline-block;
    padding-top: 12%;
}
.am-container-content{ max-width: 1080px; margin: auto; }
@media (max-width: 1600px){
    .get-title-search {
        display: inline-block;
        padding-top: 12.8%;
    }
    .get-index{
        background: url("/assets/i/banner.png") center no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 580px;
    }
}
@media (max-width: 1400px){
    .get-title-search {
        display: inline-block;
        padding-top: 13.6%;
    }
    .am-container-content{ max-width: 980px; margin: auto; }
    .get-index{
        background: url("/assets/i/banner.png") center no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        height: 580px;
    }
}
.get-sorts{
    background: url("/assets/i/banner-sorts.png") top center no-repeat;
    color: #fff;
    text-align: center;
    height: 252px;
}
.get-title {
    display: inline-block;
}

.get_font_left, .get_font_rigth {
    line-height: 95px;
}
.get_font_left {
    width: 112px;
    height: 115px;
    line-height: 115px;
    float: left;
    font-size: 24px;
}
.get_font_center {
    width: auto;
    height: 115px;
    margin: 0 20px;
    line-height: 115px;
    float: left;
    font-size: 84px;
    color: #fff;
    font-family: 'avantgarde_md_btmedium';
}
.get_font_rigth {
    width: 112px;
    height: 115px;
    line-height: 115px;
    float: left;
    font-size: 24px;
    vertical-align: middle;
}
.get-input{
    font-size: 2.6rem!important;
}
/** BOTTOM **/
.m-footer {
    background: #1a1f2a;
    padding: 60px 0 0 0;
    color: #fff;
    font-size: 14px;
    background: url("/assets/i/footer.jpg");
}
.m-footer a{
    color: #fff;
}
.am-container {
    max-width: 1000px;
}
.m-footer-container{
    padding-bottom: 2px;
}

/** SIDE **/


/** 统一样式 **/
a:hover, .m-partner li img, .m-partner li img:hover, .m-contact-infobox, .m-contact-infobox:hover, .m-footer .ico i, .m-footer .ico i:hover, .m-service-page .ico ul li span, .m-service-page .ico ul li span:hover, .m-hd .am-sticky, .m-service-list li:hover {
    -webkit-filter: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.popover{position:absolute;top:0;left:0;z-index:1060;display:none;max-width:326px;padding:1px;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:14px;font-style:normal;font-weight:400;line-height:1.42857143;text-align:left;text-align:start;text-decoration:none;text-shadow:none;text-transform:none;letter-spacing:normal;word-break:normal;word-spacing:normal;word-wrap:normal;white-space:normal;background-color:#fff;-webkit-background-clip:padding-box;background-clip:padding-box;border:1px solid #ccc;border:1px solid rgba(0,0,0,.2);border-radius:6px;-webkit-box-shadow:0 5px 10px rgba(0,0,0,.2);box-shadow:0 5px 10px rgba(0,0,0,.2);line-break:auto}.popover.top{margin-top:-10px}.popover.right{margin-left:10px}.popover.bottom{margin-top:10px}.popover.left{margin-left:-10px}.popover-title{padding:8px 14px;margin:0;font-size:14px;background-color:#f7f7f7;border-bottom:1px solid #ebebeb;border-radius:5px 5px 0 0}.popover-content{padding:9px 14px}.popover>.arrow,.popover>.arrow:after{position:absolute;display:block;width:0;height:0;border-color:transparent;border-style:solid}.popover>.arrow{border-width:11px}.popover>.arrow:after{content:"";border-width:10px}.popover.top>.arrow{bottom:-11px;left:50%;margin-left:-11px;border-top-color:#999;border-top-color:rgba(0,0,0,.25);border-bottom-width:0}.popover.top>.arrow:after{bottom:1px;margin-left:-10px;content:" ";border-top-color:#fff;border-bottom-width:0}.popover.right>.arrow{top:50%;left:-11px;margin-top:-11px;border-right-color:#999;border-right-color:rgba(0,0,0,.25);border-left-width:0}.popover.right>.arrow:after{bottom:-10px;left:1px;content:" ";border-right-color:#fff;border-left-width:0}.popover.bottom>.arrow{top:-11px;left:50%;margin-left:-11px;border-top-width:0;border-bottom-color:#999;border-bottom-color:rgba(0,0,0,.25)}.popover.bottom>.arrow:after{top:1px;margin-left:-10px;content:" ";border-top-width:0;border-bottom-color:#fff}.popover.left>.arrow{top:50%;right:-11px;margin-top:-11px;border-right-width:0;border-left-color:#999;border-left-color:rgba(0,0,0,.25)}.popover.left>.arrow:after{right:1px;bottom:-10px;content:" ";border-right-width:0;border-left-color:#fff}
.question-tips{ width: 22px;height: 16px;display: inline-block;position: absolute;cursor: pointer; }
.wenxin-tips{ width: 22px;height: 22px;display: block;float: left; }
.question-tips-text{ width: 180px; }
.set-default-address{ border: solid 1px #F25C58;background-color: #FFFFFF;padding: 5px 12px;border-radius: 5px; }
.set-default-address:hover{ color:#fff;  background-color: #F25C58!important; }
.jump{ display: inline-block; }
.jump-wen{
    color: #7FB114;
    animation: tiao_fly 0.2s 0s alternate infinite;
    -webkit-animation: tiao_fly 0.2s 0s alternate infinite;
    -moz-animation: tiao_fly 0.2s 0s alternate infinite;
    -ms-animation: tiao_fly 0.2s 0s alternate infinite;
    -o-animation: tiao_fly 0.2s 0s alternate infinite;
    transform: rotateZ(-20.5deg);
    -webkit-transform: rotateZ(-20.5deg);
    -moz-transform: rotateZ(-20.5deg);
    -ms-transform: rotateZ(-20.5deg);
    -o-transform: rotateZ(-20.5deg);
}
.jump-xin{
    animation: ba_fly 0.2s .2s alternate infinite;
    -webkit-animation: ba_fly 0.2s .2s alternate infinite;
    -moz-animation: ba_fly 0.2s .2s alternate infinite;
    -ms-animation: ba_fly 0.2s .2s alternate infinite;
    -o-animation: ba_fly 0.2s .2s alternate infinite;
    transform: rotateZ(3.5deg);
    -webkit-transform: rotateZ(3.5deg);
    -moz-transform: rotateZ(3.5deg);
    -ms-transform: rotateZ(3.5deg);
    -o-transform: rotateZ(3.5deg);
}
.jump-wen{
    display: inline-block;
    color: #7FB114;
    animation: tiao_fly 0.2s 0s alternate infinite;
    -webkit-animation: tiao_fly 0.2s 0s alternate infinite;
    -moz-animation: tiao_fly 0.2s 0s alternate infinite;
    -ms-animation: tiao_fly 0.2s 0s alternate infinite;
    -o-animation: tiao_fly 0.2s 0s alternate infinite;
    transform: rotateZ(-20.5deg);
    -webkit-transform: rotateZ(-20.5deg);
    -moz-transform: rotateZ(-20.5deg);
    -ms-transform: rotateZ(-20.5deg);
    -o-transform: rotateZ(-20.5deg);
}
@keyframes tiao_fly {
    0% {transform:translateX(0%) translateY(-15%) rotateZ(-20.5deg);}
    100% {transform:translateX(0%) translateY(-0%) rotateZ(-20.5deg);}
}
@-webkit-keyframes tiao_fly {
    0% {-webkit-transform:translateX(0%) translateY(-15%) rotateZ(-20.5deg);}
    100% {-webkit-transform:translateX(0%) translateY(-0%) rotateZ(-20.5deg);}
}
@-moz-keyframes tiao_fly {
    0% {-moz-transform:translateX(0%) translateY(-15%) rotateZ(-20.5deg);}
    100% {-moz-transform:translateX(0%) translateY(-0%) rotateZ(-20.5deg);}
}
@-ms-keyframes tiao_fly {
    0% {-ms-transform:translateX(0%) translateY(-15%) rotateZ(-20.5deg);}
    100% {-ms-transform:translateX(0%) translateY(-0%) rotateZ(-20.5deg);}
}
@-o-keyframes tiao_fly {
    0% {-o-transform:translateX(0%) translateY(-15%) rotateZ(-20.5deg);}
    100% {-o-transform:translateX(0%) translateY(-0%) rotateZ(-20.5deg);}
}
@keyframes tiao_fly {
    0% {transform:translateX(0%) translateY(-15%) rotateZ(-20.5deg);}
    100% {transform:translateX(0%) translateY(-0%) rotateZ(-20.5deg);}
}
@keyframes ba_fly {
    0% {transform:translateX(0%) translateY(-15%) rotateZ(3.5deg);}
    100% {transform:translateX(0%) translateY(-0%) rotateZ(3.5deg);}
}
@-webkit-keyframes ba_fly {
    0% {-webkit-transform:translateX(0%) translateY(-15%) rotateZ(3.5deg);}
    100% {-webkit-transform:translateX(0%) translateY(-0%) rotateZ(3.5deg);}
}
@-moz-keyframes ba_fly {
    0% {-moz-transform:translateX(0%) translateY(-15%) rotateZ(3.5deg);}
    100% {-moz-transform:translateX(0%) translateY(-0%) rotateZ(3.5deg);}
}
@-ms-keyframes ba_fly {
    0% {-ms-transform:translateX(0%) translateY(-15%) rotateZ(3.5deg);}
    100% {-ms-transform:translateX(0%) translateY(-0%) rotateZ(3.5deg);}
}
@-o-keyframes ba_fly {
    0% {-o-transform:translateX(0%) translateY(-15%) rotateZ(3.5deg);}
    100% {-o-transform:translateX(0%) translateY(-0%) rotateZ(3.5deg);}
}
@keyframes ba_fly {
    0% {transform:translateX(0%) translateY(-15%) rotateZ(3.5deg);}
    100% {transform:translateX(0%) translateY(-0%) rotateZ(3.5deg);}
}
.tooltip{position:absolute;z-index:1070;display:block;font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;font-size:12px;font-style:normal;font-weight:400;line-height:1.42857143;text-align:left;text-align:start;text-decoration:none;text-shadow:none;text-transform:none;letter-spacing:normal;word-break:normal;word-spacing:normal;word-wrap:normal;white-space:normal;filter:alpha(opacity=0);opacity:0;line-break:auto}.tooltip.in{filter:alpha(opacity=90);opacity:.9}.tooltip.top{padding:5px 0;margin-top:-3px}.tooltip.right{padding:0 5px;margin-left:3px}.tooltip.bottom{padding:5px 0;margin-top:3px}.tooltip.left{padding:0 5px;margin-left:-3px}.tooltip-inner{max-width:200px;padding:3px 8px;color:#fff;text-align:center;background-color:#000;border-radius:4px}.tooltip-arrow{position:absolute;width:0;height:0;border-color:transparent;border-style:solid}.tooltip.top .tooltip-arrow{bottom:0;left:50%;margin-left:-5px;border-width:5px 5px 0;border-top-color:#000}.tooltip.top-left .tooltip-arrow{right:5px;bottom:0;margin-bottom:-5px;border-width:5px 5px 0;border-top-color:#000}.tooltip.top-right .tooltip-arrow{bottom:0;left:5px;margin-bottom:-5px;border-width:5px 5px 0;border-top-color:#000}.tooltip.right .tooltip-arrow{top:50%;left:0;margin-top:-5px;border-width:5px 5px 5px 0;border-right-color:#000}.tooltip.left .tooltip-arrow{top:50%;right:0;margin-top:-5px;border-width:5px 0 5px 5px;border-left-color:#000}.tooltip.bottom .tooltip-arrow{top:0;left:50%;margin-left:-5px;border-width:0 5px 5px;border-bottom-color:#000}.tooltip.bottom-left .tooltip-arrow{top:0;right:5px;margin-top:-5px;border-width:0 5px 5px;border-bottom-color:#000}.tooltip.bottom-right .tooltip-arrow{top:0;left:5px;margin-top:-5px;border-width:0 5px 5px;border-bottom-color:#000}