.toaster .alert-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}
.toaster .alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}
.toaster .alert-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.toaster .alert-danger {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}
.toaster .alert-dismissable, .alert-dismissible{
    padding-right: 35px;
}
.toaster .alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.toaster button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: 0 0;
    border: 0;
}
.toaster .close {
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}
.toaster .alert-dismissable .close,.toaster  .alert-dismissible .close {
    position: relative;
    top: -10px;
    right: -10px;
    color: inherit;
}
.toaster .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}